.awards__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 992px) {
  .awards__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.awards__item img {
  max-height: 130px;
}

.awards__item img {
  max-height: 86px;
}

@media (max-width: 992px) {
  .awards__item {
    width: 95px;
  }
}

@media (max-width: 365px) {
  .awards__list {
    gap: 20px;
  }
}

.tippy-box[data-theme~='awards'] {
  --border-color: #eee;
  --background-color: #fff;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
  color: #000;
  padding: 14px 16px;
  font-size: 14px;
}

/* The border */
.tippy-box[data-theme~='awards'] > .tippy-svg-arrow > svg:first-child {
  fill: var(--border-color);
}

/* The fill */
.tippy-box[data-theme~='awards'] > .tippy-svg-arrow > svg:last-child {
  fill: var(--background-color);
}
