body:not(.et-tb) #main-content .container,
body:not(.et-tb-has-header) #main-content .container {
  padding-top: 24px;
}

@media (max-width: 992px) {
  body:not(.et-tb) #main-content .container,
  body:not(.et-tb-has-header) #main-content .container {
    padding-top: 0;
  }
}

#main-content {
  padding: 0 !important;
}
#main-content .container {
  padding-top: 0 !important;
  max-width: 1240px !important;
}
@media (max-width: 991px) {
  #main-content .container {
    width: 100%;
    padding-inline: 16px;
  }
}

#main-content .container:before {
  display: none;
}

.lp :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

/* HEADER SECTION */
.lp-header {
  font-family: 'Open Sans', sans-serif;
}
.lp-header__inner {
  --bs-gutter-x: 64px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
@media (min-width: 1440px) {
  .lp-header__left {
    flex: 0 0 auto;
    width: 616px;
  }
  .lp-header__right {
    flex: 0 0 auto;
    width: 560px;
  }
}

@media (max-width: 1439px) {
  .lp-header__left {
    width: calc(52% - var(--bs-gutter-x) / 2);
  }
  .lp-header__right {
    width: calc(48% - var(--bs-gutter-x) / 2);
  }
}

@media (max-width: 992px) {
  .lp-header__inner {
    flex-direction: column;
    gap: 24px;
  }
  .lp-header__left {
    order: 2;

    width: 100%;
  }
  .lp-header__right {
    order: 1;

    width: 100%;
  }
}

.lp-header__title {
  padding: 0;
  color: #262626;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.6px;
}

.lp-header__title--mob {
  display: none;
}

@media (max-width: 992px) {
  .lp-header__title {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.42px;
  }

  .lp-header__title--mob {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: block;
  }

  .lp-header__title--desk {
    display: none;
  }
}

.lp-header__title span {
  font-weight: 700;
}

.lp-header__description {
  display: grid;
  gap: 6px;
  margin-top: 31px;
}

.lp-header__description p {
  padding: 0;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.lp-header__description {
  margin-top: 31px;
}

@media (max-width: 992px) {
  .lp-header__description {
    margin-top: 0;
  }
}
.lp-header__description p {
  padding: 0;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.lp-header__description p img {
  vertical-align: text-top;
}

.lp-header__action {
  margin-top: 32px;
}

@media (max-width: 992px) {
  .lp-header__action {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

.lp-header__action :is(button, a) {
  padding-inline: 40px;
  border: none;
  cursor: pointer;
}

.lp-header__action :is(button, a) .mob {
  display: none;
}

@media (max-width: 992px) {
  .lp-header__action :is(button, a) .mob {
    display: block;
  }

  .lp-header__action :is(button, a) .desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .lp-header__action :is(button, a) {
    width: 100%;
  }
}

.lp-header__rating {
  margin-top: 64px;
}

@media (max-width: 992px) {
  .lp-header__rating {
    margin-top: 24px;
  }
  .lp-header__rating .lp-rating {
    justify-content: center;
  }
  .lp-header__rating .mortgage-rating {
    display: none;
  }

  .lp-header__img {
    display: block;
    width: 100%;
    margin-left: -16px;
    width: calc(100% + 32px);
  }

  .lp-header__img img {
    width: 100%;
  }
}

/* AWARDS */

.lp__awards {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fef7ea;
  padding: 24px;
}

.lp__awards li {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .lp__awards {
    margin-top: 32px;
    padding: 24px 0;
  }
}

/* INFO SECTION */

.lp-info {
  padding-block: 88px;
  background: #fafafa;
}

@media (max-width: 992px) {
  .lp-info {
    padding-block: 24px;
  }
}

.lp-info__inner {
  display: flex;
  align-items: center;
  gap: 64px;
}

@media (max-width: 992px) {
  .lp-info__inner {
    flex-direction: column;
    gap: 24px;
  }
}

.lp-info__bg,
.lp-info__content {
  flex: 1;
}

@media (max-width: 992px) {
  .lp-info__bg {
    order: 1;
  }
  .lp-info__content {
    order: 2;
  }
}

.lp-info__title {
  color: #262626;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.48px;
}

@media (max-width: 992px) {
  .lp-info__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}

.lp-info__description {
  margin-top: 24px;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 992px) {
  .lp-info__description {
    font-size: 14px;
    line-height: 24px;
  }
}
.lp-info__subtitle {
  margin-top: 24px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: 992px) {
  .lp-info__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.lp-info__list {
  margin: 0;
  margin-top: 12px;
}

.lp-info__list li {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-block: 8px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.lp-info__list li span {
  font-weight: 600;
}

@media (max-width: 992px) {
  .lp-info__list li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.21px;
  }
}

ul.lp-info__list li::before {
  flex-shrink: 0;
  content: '';
  width: 18px;
  height: 15px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="15" fill="none"><path stroke="%23FFA818" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 7.585 5.625 5.625L17 1.96"/></svg>');
  background-repeat: no-repeat;
}

ol.lp-info__list {
  position: relative;
  counter-reset: info;
}

ol.lp-info__list::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 10px;
  border-right: 1px solid #ffb027;
  opacity: 0.6;
  height: 60%;
}
ol.lp-info__list li {
  align-items: flex-start;
}
ol.lp-info__list li::before {
  position: relative;
  counter-increment: info;
  content: counter(info);
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  background: #fff;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  background-color: #ffb027;
  border: 2px solid #fff;
}

.lp-info__actions {
  margin-top: 24px;
}

@media (max-width: 992px) {
  .lp-info__actions {
    display: flex;
    justify-content: center;
  }
}

.lp-info__actions :is(button, a) {
  padding-inline: 32px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .lp-info__actions :is(button, a) {
    width: 100%;
  }
}

.lp-info__actions :is(button, a) .mob {
  display: none;
}

@media (max-width: 992px) {
  .lp-info__actions :is(button, a) .mob {
    display: block;
  }

  .lp-info__actions :is(button, a) .desktop {
    display: none;
  }
}

/* JOIN SECTION */

.lp-join {
  margin-block: 88px;
}

@media (max-width: 992px) {
  .lp-join {
    margin-block: 24px;
    margin-bottom: 0;
  }
}

.lp-join__block {
  display: grid;
  grid-template-columns: 220px 1fr 391px;
  grid-template-rows: auto 1fr;
  border-radius: 24px;
  background: #262626;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .lp-join__block {
    grid-template-columns: 220px 1fr 300px;
    margin-left: -16px;
    width: calc(100% + 32px);
    border-radius: 0;
  }
}

@media (max-width: 992px) {
  .lp-join__block {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 32px 16px 0;
  }
}
.join-block__img {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 992px) {
  .join-block__img {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    justify-content: center;
  }
}

.join-block__img::after {
  content: '';
  position: absolute;

  background-image: url('https://huntergalloway.development/wp-content/themes/hunter-galloway/assets/img/pages/money-bg.svg');
  background-size: cover;
  width: 177%;
  height: 146%;
  background-position: -136px -39px;
  mix-blend-mode: soft-light;
}

@media (max-width: 992px) {
  .join-block__img::after {
    width: 100%;
    height: 100;
    background-position: center;
    mix-blend-mode: none;
  }
}

h2.join-block__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 32px;
  padding-right: 40px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.3px;
}

@media (max-width: 992px) {
  h2.join-block__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}

.join-block__description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.304px;
}
@media (max-width: 992px) {
  .join-block__description {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.266px;
  }
}

.join-block__actions {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 32px 32px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 992px) {
  .join-block__actions {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    align-items: center;
    padding: 0;
    border-left: none;
    border: none;
    justify-content: center;
  }
}

.join-block__actions::before {
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  content: '\276F';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background: #262626;
  color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
}

@media (max-width: 992px) {
  .join-block__actions::before {
    display: none;
  }
}
.join-block__actions :is(button, a) {
  padding-inline: 16px;
  border: none;
  cursor: pointer;
}

.join-block__actions-text {
  margin-top: 8px;
  text-align: center;
  color: #fdb948;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.304px;
}

/* JOURNEY SECTION */

.lp-journey {
  position: relative;
  padding-block: 96px;
}

@media (max-width: 992px) {
  .lp-journey {
    padding-block: 44px;
  }
}

.lp-journey .container {
  z-index: 1;
}

.lp-journey__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.lp-journey__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .lp-journey__bg img {
    object-position: -457px -215px;
  }
}

.lp-journey__bg::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.lp-journey h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.6px;
}

@media (max-width: 992px) {
  .lp-journey h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.42px;
  }
}

.lp-journey__steps {
  margin-top: 32px;
  display: flex;
}

@media (max-width: 992px) {
  .lp-journey__steps {
    flex-direction: column;
  }
}

.lp-journey__step {
  position: relative;
  flex: 1;
  padding: 32px;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  background: #f4f4f4;
}

@media (max-width: 992px) {
  .lp-journey__step {
    padding: 32px 24px;
    border-right: 2px solid #e8e8e8;
  }

  .lp-journey__step:not(:first-child) {
    border-top: none;
  }
}

.lp-journey__step:first-child {
  border-radius: 12px 0 0 12px;
}

@media (max-width: 992px) {
  .lp-journey__step:first-child {
    border-radius: 12px 12px 0 0;
  }
}

.lp-journey__step:last-child {
  border-radius: 0 12px 12px 0;
}

@media (max-width: 992px) {
  .lp-journey__step:last-child {
    border-radius: 0 0 12px 12px;
  }
}

.lp-journey__step:not(:first-child)::after {
  content: '\276F';
  position: absolute;
  top: 58px;
  left: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 33px;
  background: #fae2b8;
  color: #262626;
  font-size: 16px;
  line-height: 36px;
  background: #e8e8e8;
}

@media (max-width: 992px) {
  .lp-journey__step:not(:first-child)::after {
    left: 50%;
    top: -18px;
    transform: translateY(50%);
    rotate: 90deg;
  }
}

.journey-step--active {
  border-top: 2px solid #fae2b8;
  border-bottom: 2px solid #fae2b8;
  border-left: 2px solid #fae2b8;
  background: #ffedcc;
}

@media (max-width: 992px) {
  .journey-step--active {
    border-right: 2px solid #fae2b8;
  }
}

.journey-step__order {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.52px;
  text-transform: uppercase;
}

.journey-step__title {
  margin-top: 8px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.42px;
}

.journey-step__title .mob {
  display: none;
}

@media (max-width: 992px) {
  .journey-step__title {
    letter-spacing: -0.36px;
  }

  .journey-step__title .mob {
    display: block;
  }

  .journey-step__title .desktop {
    display: none;
  }
}

.journey-step__description {
  margin-top: 16px;
  color: #1e1e1e;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}

@media (max-width: 992px) {
  .journey-step__description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.21px;
  }
}

.journey-step__actions {
  margin-top: 24px;
}

.journey-step__actions :is(button, a) {
  width: 100%;
}

/* CHOOSE SECTION */

.lp-choose {
  padding-block: 88px;
}

@media (max-width: 992px) {
  .lp-choose {
    padding-block: 24px;
  }
}

.lp-choose__inner {
  display: flex;
  justify-content: center;
  gap: 88px;
}

@media (max-width: 992px) {
  .lp-choose__inner {
    flex-direction: column;
    gap: 24px;
  }
}

.lp-choose__img {
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .lp-choose__img {
    display: none;
  }
}
.lp-choose__content {
  max-width: 568px;
}

@media (max-width: 992px) {
  .lp-choose__content {
    width: 100%;
    max-width: 100%;
  }
}
.lp-choose__title {
  color: #262626;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.48px;
}

@media (max-width: 992px) {
  .lp-choose__title {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.42px;
  }
}

.lp-choose__items {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 44px;
}

@media (max-width: 992px) {
  .lp-choose__items {
    margin-top: 32px;
    gap: 32px;
  }

  .lp-choose__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lp-choose__value {
  color: #2f8a8e;
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

@media (max-width: 992px) {
  .lp-choose__value {
    font-size: 40px;
    line-height: 44px;
  }
}

.lp-choose__label {
  margin-top: 8px;
  color: #2f8a8e;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
}

@media (max-width: 992px) {
  .lp-choose__label {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.21px;
  }
}

/* SUCCESS STORIES SECTION */
.lp-stories {
  padding-block: 0;
}

.lp-stories__google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.lp-stories__google .rating {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.lp-stories__google .stars {
  width: 120px;
  height: 20px;
  background-image: url('data:image/svg+xml,<svg width="121" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M18.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5A1 1 0 0 0 .8 8l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1L9.5 15l4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23b)"><path d="M43.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23c)"><path d="M68.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23d)"><path d="M93.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23e)"><path d="M118.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><defs><clipPath id="a"><path fill="%23fff" transform="translate(.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="b"><path fill="%23fff" transform="translate(25.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="c"><path fill="%23fff" transform="translate(50.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="d"><path fill="%23fff" transform="translate(75.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="e"><path fill="%23fff" transform="translate(100.5)" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}
.lp-stories__title {
  margin-top: 20px !important;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.6px;
}

.lp-stories__title span {
  color: #f59c00;
}
@media (max-width: 992px) {
  .lp-stories__title {
    margin-top: 0 !important;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.42px;
  }
}
.lp-stories__items {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 992px) {
  .lp-stories__items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.lp-stories__item {
  height: max-content;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
}

.story-item__header {
  display: flex;
  gap: 16px;
}

.story-item__img {
  width: 44px;
  height: 44px;
}

.story-item__author-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.story-item__author-pos {
  color: #6f7283;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.story-item__rating {
  display: flex;
  gap: 8px;
  margin-top: 18px;
}

.story-item__stars {
  width: 120px;
  height: 20px;
  background-image: url('data:image/svg+xml,<svg width="121" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M18.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5A1 1 0 0 0 .8 8l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1L9.5 15l4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23b)"><path d="M43.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23c)"><path d="M68.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23d)"><path d="M93.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23e)"><path d="M118.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><defs><clipPath id="a"><path fill="%23fff" transform="translate(.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="b"><path fill="%23fff" transform="translate(25.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="c"><path fill="%23fff" transform="translate(50.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="d"><path fill="%23fff" transform="translate(75.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="e"><path fill="%23fff" transform="translate(100.5)" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}

.story-item__date {
  color: #6f7283;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.story-item__content {
  margin-top: 18px;
}

.story-item__text {
  overflow: hidden;
  color: #262626;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.story-item__content--hidden .story-item__text {
  overflow: hidden;
  color: #262626;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 96px;
}

.story-item__read-more {
  padding: 0;
  border: none;
  background: none;
  color: #4285f4;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
}

.story-item__content .more {
  display: none;
}

.story-item__content--hidden .more {
  display: block;
}

.story-item__content--hidden .less {
  display: none;
}

.lp-stories__subnote {
  margin-top: 32px;
  color: #ffa818;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.42px;
}
@media (max-width: 992px) {
  .lp-stories__subnote {
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}

.lp-stories__more {
  display: none;
}

@media (max-width: 992px) {
  .lp-stories__more {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}

.lp-stories__more button {
  padding: 14px 44px;
  border-radius: 100px;
  border: 1px solid #262626;
  background: none;
  color: #262626;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/* COMPARE SECTION */

.lp-compare {
  padding-block: 88px;
}

@media (max-width: 992px) {
  .lp-compare {
    padding-block: 55px;
  }
}

.lp-compare__container {
  position: relative;
  display: flex;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .lp-compare__container {
    width: calc(100% + 16px);
  }
}
.lp-compare__inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 24px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .lp-compare__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .lp-compare__inner {
    flex-shrink: 0;
    grid-template-columns: 268px 268px;
  }
}

.lp-compare__inner .row {
  display: contents;
}

.lp-compare__inner .hg {
  grid-column: 2 / 3;
}

@media (max-width: 1200px) {
  .lp-compare__inner .hg {
    grid-column: 1 / 2;
  }
}
.lp-compare__inner .lender {
  grid-column: 3 / 4;
}

@media (max-width: 1200px) {
  .lp-compare__inner .lender {
    grid-column: 2 / 3;
  }
}

.lp-compare__inner .header {
  color: #000;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.42px;
}

@media (max-width: 992px) {
  .lp-compare__inner .header {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;
  }
}

.lp-compare__inner :is(.hg, .lender) {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 32px 44px;
}

@media (max-width: 992px) {
  .lp-compare__inner :is(.hg, .lender) {
    padding: 24px 16px;
  }
}

.lp-compare__inner .row:nth-child(odd) > * {
  background: #fff5e5;
}
.lp-compare__inner .row:nth-child(even) > * {
  background: #ffedcf;
}

.lp-compare__inner .row:nth-child(odd) .lender {
  background: #f7f7f7;
}
.lp-compare__inner .row:nth-child(even) .lender {
  background: #f0f0f0;
}

.lp-compare__inner .header span {
  color: #f59c00;
}

.lp-compare__inner :is(.hg, .lender) .title {
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 992px) {
  .lp-compare__inner :is(.hg, .lender) .title {
    font-size: 14px;
    line-height: 24px;
  }
}
.lp-compare__inner :is(.hg, .lender) .text {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.lp-compare__inner .bg {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .lp-compare__inner .bg {
    display: none;
  }
}
.lp-compare__inner .content {
  display: grid;
  grid-template-columns: 34px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 18px;
}

.lp-compare__inner .content::before {
  content: '';
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 992px) {
  .lp-compare__inner .content::before {
    width: 32px;
    height: 32px;
  }
}

.lp-compare__inner .header .lender .content {
  display: flex;
}
.lp-compare__inner .header .lender .content::before {
  display: none;
}

.lp-compare__inner .content .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.lp-compare__inner .content .text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.lp-compare__inner .header .hg .content::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="33" fill="none"><path fill="%23000" d="m34 30.203-.027-12.932a2.192 2.192 0 0 0-.702-1.604L17.676 1.174a2.196 2.196 0 0 0-2.992 0L.72 14.18a2.198 2.198 0 0 0-.697 1.604L0 30.204a2.199 2.199 0 0 0 2.197 2.2h10.66V20.46l8.281-4.969v16.914h10.664A2.2 2.2 0 0 0 34 30.202Z"/></svg>');
}

.lp-compare__inner .row:not(.header) .hg .content::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" fill="none"><rect width="32" height="32" y=".585" fill="%23FFB027" rx="16"/><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.334 16.585 5 5 8.333-10"/></svg>');
}

.lp-compare__inner .row:not(.header) .lender .content::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" fill="none"><rect width="32" height="32" y=".585" fill="%23C7C7C7" rx="16"/><path fill="%23fff" stroke="%23fff" stroke-width=".1" d="M9.528 10.113a8.8 8.8 0 1 0 12.445 12.445A8.8 8.8 0 0 0 9.528 10.113Zm10.517.443L9.97 20.63a7.202 7.202 0 0 1 10.075-10.075Zm.796 10.87a7.2 7.2 0 0 1-9.778.375l10.153-10.153a7.201 7.201 0 0 1-.375 9.779Z"/></svg>');
}

/* FAQ SECTION */

.lp-faq {
  padding-bottom: 88px;
}

@media (max-width: 992px) {
  .lp-faq {
    padding-bottom: 55px;
  }
}
.lp-faq.accordion_widget .inner_title {
  text-align: center;
}
.lp-faq.accordion_widget .et_pb_toggle {
  background: unset;
  margin: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.lp-faq.accordion_widget .et_pb_toggle:first-child {
  border-top: unset;
}

.lp-faq.accordion_widget .et_pb_toggle_content {
  border-top: 1px solid #000000;
  padding: 24px 0;
}

.lp-faq.accordion_widget h5.et_pb_toggle_title {
  padding: 24px 0 24px 56px;
}

.lp-faq.accordion_widget .et_pb_toggle_title:before,
.lp-faq.accordion_widget .et_pb_toggle_title:after {
  left: 0;
  right: unset;
  width: 30px;
  height: 30px;
  background: url(https://conversionratestore.github.io/projects/hantergalloway/img/what_we_do/plus.svg)
    center no-repeat;
  border: 1px solid #000000;
  border-radius: 4px;
  top: 30%;
}

.lp-faq.accordion_widget .et_pb_toggle_title:after {
  content: unset;
}

.lp-faq.accordion_widget .et_pb_toggle_open .et_pb_toggle_title:before {
  width: 32px;
  height: 32px;
  background: #ffba3a
    url(https://conversionratestore.github.io/projects/hantergalloway/img/what_we_do/minus.svg)
    center no-repeat;
  border-radius: 4px;
  border: none;
  top: 30%;
}

@media (max-width: 768px) {
  .lp-faq.accordion_widget .accordion_holder {
    margin: 0;
  }

  .lp-faq.accordion_widget {
    padding: 40px 0;
  }

  .lp-faq#accordion_widget .inner_title {
    margin-bottom: 16px;
  }

  .lp-faq.accordion_widget h5.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
  }
}

/* GOAL SECTION */

.lp-goals {
  padding-top: 88px;
}

@media (max-width: 992px) {
  .lp-goals {
    padding-top: 24px;
  }
}

.lp-goals__title {
  color: #262626;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.6px;
}

@media (max-width: 992px) {
  .lp-goals__title {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.42px;
  }
}

.lp-goals__description {
  margin-top: 32px;
  color: #262626;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 992px) {
  .lp-goals__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}

.lp-goals__blocks {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 992px) {
  .lp-goals__blocks {
    margin-top: 16px;
    gap: 16px;
  }
}

.goal-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 392px;
  max-width: 100%;
  padding: 32px;
  border-radius: 24px;
  border: 1px solid #e8e8e8;
  background: #f4f4f4;
}

@media (max-width: 992px) {
  .goal-block {
    gap: 8px;
    padding: 16px;
  }
}
.goal-block__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
}

@media (max-width: 992px) {
  .goal-block__title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.27px;
  }
}

.goal-block__description {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}

@media (max-width: 992px) {
  .goal-block__description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.21px;
  }
}

.goal-block__action {
  margin-top: auto;
}

@media (max-width: 992px) {
  .goal-block__action {
    margin-top: 8px;
  }
}

.goal-block__action :is(button, a) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
  padding: 17px 24px;
  border: none;
  border-radius: 33px;
  background: rgba(253, 185, 72, 0.5);
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.35s;
}

.goal-block__action :is(button, a):hover {
  background: #fdb948;
}

@media (max-width: 992px) {
  .goal-block__action :is(button, a) {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.21px;
  }
}
.goal-block__action :is(button, a)::after {
  content: '\276F';
  font-size: 16px;
  color: inherit;
  font-weight: 400;
}
