/* common */
	#keradan-popup-checklist, #keradan-popup-roadmap {
		position: fixed;
		z-index: 999999999999999999999999999999999999999999;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(0 0 0 / 50%);
		transition: all 0.3s ease;
		opacity: 1;

	}
	#keradan-popup-checklist:not(.display-on), #keradan-popup-roadmap:not(.display-on) {
		display: none;
	}
	#keradan-popup-checklist:not(.show-on), #keradan-popup-roadmap:not(.show-on) {
		opacity: 0;
	}
	#keradan-popup-checklist .inner, #keradan-popup-roadmap .inner {
		position: relative;
		display: block;
		background: white;
		/*overflow: hidden;*/
		box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
		border-radius: 12px;
		transform: scale(1);
		transition: all 0.3s ease;
	}
	#keradan-popup-checklist:not(.show-on) .inner, #keradan-popup-roadmap:not(.show-on) .inner {
		transform: scale(0.5);
	}
	#keradan-popup-checklist button, #keradan-popup-roadmap button, #keradan-popup-checklist a, #keradan-popup-roadmap a {
		cursor: pointer;
	}
	#keradan-popup-checklist .inner button.close, #keradan-popup-roadmap .inner button.close {
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
		background: transparent;
		border: none;
	}
	/* TMP solution: */
	#keradan-popup-checklist *[data-keradan-popup-screen]:not([data-current-show]), #keradan-popup-roadmap *[data-keradan-popup-screen]:not([data-current-show]) {
		display: none;
	}
	#keradan-popup-checklist .common-bottom-black-logo, #keradan-popup-roadmap .common-bottom-black-logo {
		position: absolute;
		bottom: 30px;
		left: 30px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		padding-top: 15px;
		width: calc(100% - 60px);
	}
	#keradan-popup-checklist .common-bottom-black-logo svg, #keradan-popup-roadmap .common-bottom-black-logo svg {
		width: 115px;
	}
	@media (min-width: 701px) {
		#keradan-popup-checklist .inner, #keradan-popup-roadmap .inner {
			width: 768px;
			max-width: calc(100vw - 130px);
			height: 80vh;
			max-height: 605px;
		}
		#keradan-popup-checklist .inner button.close, #keradan-popup-roadmap .inner button.close {
			top: 0;
			right: -60px;
			background: #FFBA3A;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		#keradan-popup-checklist .inner button.close svg, #keradan-popup-roadmap .inner button.close svg {
			width: 20px;
		}
		#keradan-popup-checklist .inner button.close span, #keradan-popup-roadmap .inner button.close span {
			display: none;
		}
		#keradan-popup-checklist .common-bottom-black-logo, #keradan-popup-roadmap .common-bottom-black-logo {
			display: none;
		}
	}
	@media (max-width: 700px) {
		#keradan-popup-checklist .inner, #keradan-popup-roadmap .inner {
			width: 95vw;
			height: 80vh;
		}
		#keradan-popup-checklist .inner button.close, #keradan-popup-roadmap .inner button.close {
			bottom: 30px;
			right: 30px;
			border: 2px solid #FFBA3A;
			width: auto;
			height: 30px;
			padding: 0 10px;
			border-radius: 50px;
		}
		#keradan-popup-checklist .inner button.close svg, #keradan-popup-roadmap .inner button.close svg {
			width: 10px;
			margin-right: 5px;
		}
		#keradan-popup-checklist .inner button.close span, #keradan-popup-roadmap .inner button.close span {
			display: inline;
			font-size: 14px;
			font-weight: 600;
		}
	}

/* keradan-popup-checklist */
	/* head */
		#keradan-popup-checklist .inner>.head {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-weight: bold;
			text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 12px 12px 0 0;
		}
		@media (min-width: 701px) {
			#keradan-popup-checklist .inner>.head {
				height: 65px;
				font-size: 24px;
			}
		}
		@media (max-width: 700px) {
			#keradan-popup-checklist .inner>.head {
				height: 35px;
				font-size: 18px;
			}
		}

	/* dynamic-content-wrapper */
		#keradan-popup-checklist .inner .dynamic-content-wrapper {
			width: 100%;
			padding: 30px;
			box-sizing: border-box;
		}
		@media (min-width: 701px) {
			#keradan-popup-checklist .inner .dynamic-content-wrapper {
				height: calc(100% - 65px);
				max-height: calc(100% - 65px);
			}
		}
		@media (max-width: 700px) {
			#keradan-popup-checklist .inner .dynamic-content-wrapper {
				height: calc(100% - 35px);
				max-height: calc(100% - 35px);
			}
		}

		/* full-checklist */
			#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist {
				height: 100%;
				max-height: 100%;
			}

			/* list */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list {
					display: flex;
					flex-wrap: wrap;
					height: calc(100% - 50px);
					max-height: calc(100% - 50px);
					overflow-y: scroll;
					margin: 0;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col {
					/*display: flex;
					flex-direction: column;*/
					box-sizing: border-box;
				}
				@media (min-width: 768px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col {
						width: 50%;
						padding: 0 8px;
					}
				}
				@media (max-width: 767px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col {
						width: 100%;
					}
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box {
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					background: #F6F6F6;
					margin-bottom: 16px;
					cursor: pointer;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box .number {
					background: #FFBA3A;
					width: 80px;
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box .number span {
					display: flex;
				    justify-content: center;
				    align-items: center;
					width: 40px;
					height: 40px;
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					color: #353535;
					border: 3px solid;
					border-radius: 50%;
					transform: scale(1);
					transition: all 0.2s ease;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box:active .number span {
					transform: scale(1.2);
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box .content {
					width: calc(100% - 80px);
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box .content .title {
					font-size: 13px;
				    color: black;
				    padding: 0;
				    padding-left: 10px;
				    padding-bottom: 20px;
				    line-height: 18px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box .content .link {
					position: absolute;
					bottom: 10px;
					right: 10px;
					font-weight: bold;
					font-size: 14px;
					color: #FFBA3A;
					transform: translateX(0);
					transition: all 0.2s ease;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .list .col .link-box:active .content .link {
					transform: translateX(-20px);
				}

			/* bottom */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .bottom {
				    margin: 0 auto;
				    padding: 0;
				    padding-top: 15px;
					border-top: 1px solid rgba(0, 0, 0, 0.2);
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .bottom svg {
					width: 150px;
				}
				@media (min-width: 701px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .bottom {
						width: calc(100% - 16px);
					}
				}
				/*@media (min-width: 768px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .bottom {
						width: calc(100% - 16px);
					}
				}*/
				@media (max-width: 700px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .full-checklist .bottom {
						/*width: 100%;*/
						display: none;
					}
				}

		/* single-checklist-text-item && single-checklist-video-item */
			#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item,
			#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item {
				height: 100%;
				min-height: 100%;
			}
			/* head */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: center;
					border-bottom: 1px solid rgba(0,0,0,0.2);
					padding-bottom: 10px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .number,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .number {
					background: #FFBA3A;
					width: 80px;
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .number span,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .number span {
					display: flex;
				    justify-content: center;
				    align-items: center;
					width: 40px;
					height: 40px;
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					color: #353535;
					border: 3px solid;
					border-radius: 50%;
					transform: scale(1);
					transition: all 0.2s ease;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .title,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .title {
					height: 70px;
					background: #F6F6F6;
					padding-left: 15px;
					font-size: 13px;
					color: black;
					line-height: 18px;
					display: flex;
					align-items: center;
				}

				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons {
					display: flex;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons button.video{
					background: #262626;
				    color: white;
				    border: none;
				    border-radius: 20px;
				    height: 30px;
				    font-weight: normal;
				    font-size: 12px;
				    display: flex;
				    align-items: center;
				    padding-right: 15px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons button.text {
					visibility: hidden;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons button.video svg{
					width: 20px;
					margin-right: 8px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons button.back,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons button.back {
					background: transparent;
				    border: none;
				    color: #FFBA3A;
				    font-weight: bold;
				    font-size: 14px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons button.back svg,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons button.back svg {
					height: 12px;
				    position: relative;
				    top: 1px;
				}
				@media (min-width: 701px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .title,
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .title {
						width: calc(100% - 80px - 200px);
					}
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons,
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons {
						width: 200px;
						height: 70px;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-end;
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .title,
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .title {
						width: calc(100% - 80px);
					}
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons,
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons {
						width: 100%;
						height: auto;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin-top: 20px;
					}
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .head .buttons button.video,
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .head .buttons button.text {
						order: 2;
					}
				}

			/* content for text item */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content {
					margin: 20px 0;
					padding: 15px 20px;
					box-sizing: border-box;
					background: #F6F6F6;
					color: black;
					font-weight: normal;
					font-size: 16px;
					overflow-y: scroll;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content p {
					padding: 0;
					margin: 0 5px;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content ul {
					padding: 0;
					margin: 0;
					padding-left: 20px;
					list-style: disc;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content a {
					color: #0085FF;
				}
				@media (min-width: 701px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content {
						height: calc(100% - 150px);
						max-height: calc(100% - 150px);
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .content {
						height: calc(100% - 270px);
						max-height: calc(100% - 270px);
					}
				}

			/* content for video item */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .content {
					margin: 20px 0;
					background: #262626;
					padding: 10px;
					border-radius: 8px;
					box-sizing: border-box;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .content iframe {
					width: 100%;
					height: 100%;
				}
				@media (min-width: 701px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .content {
						height: calc(100% - 150px);
						max-height: calc(100% - 150px);
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .content {
						height: calc(100% - 270px);
						max-height: calc(100% - 270px);
					}
				}

			/* bottom */
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .bottom,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .bottom {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-text-item .bottom button,
				#keradan-popup-checklist .inner .dynamic-content-wrapper .single-checklist-video-item .bottom button {
					font-weight: 600;
					font-size: 14px;
					color: black;
					margin: 0 20px;
					background: #FFBA3A;
					border: none;
					border-radius: 20px;
					width: 130px;
					height: 30px;
				}









/* keradan-popup-roadmap */
	/* head */
		#keradan-popup-roadmap .inner>.head {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-weight: bold;
			text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 12px 12px 0 0;
		}
		@media (min-width: 701px) {
			#keradan-popup-roadmap .inner>.head {
				display: none;
			}
		}
		@media (max-width: 700px) {
			#keradan-popup-roadmap .inner>.head {
				height: 35px;
				font-size: 18px;
			}
		}

	/* middle-part */
		#keradan-popup-roadmap .inner .middle-part {
			display: flex;
			height: 100%;
		}
	/* sidebar */
		#keradan-popup-roadmap .inner .sidebar {
			position: relative;
			width: 30%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 0 12px 12px 0;
		}
		@media (max-width: 700px) {
			#keradan-popup-roadmap .inner .sidebar {
				display: none;
			}
		}
		#keradan-popup-roadmap .inner .sidebar svg.logo {
			position: absolute;
			bottom: 40px;
			left: 14%;
			display: block;
			width: 80%;
		}

	/* dynamic-content-wrapper */
		#keradan-popup-roadmap .inner .dynamic-content-wrapper {
			width: calc(100% - 30%);
			height: 100%;
			padding: 30px;
			box-sizing: border-box;
		}
		#keradan-popup-roadmap .inner .dynamic-content-wrapper .title-for-wide {
			font-weight: bold;
		    font-size: 21px;
		    color: #353535;
		    width: 100%;
		    text-align: center;
		    margin-bottom: 15px;
		}
		@media (min-width: 800px) {
			#keradan-popup-roadmap .inner .dynamic-content-wrapper .title-for-wide {
				font-size: 24px;
			}
		}
		@media (max-width: 700px) {
			#keradan-popup-roadmap .inner .dynamic-content-wrapper {
				width: 100%;
			}
			#keradan-popup-roadmap .inner .dynamic-content-wrapper .title-for-wide {
				display: none;
			}
		}

		/* full-roadmap */
			#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap {
				height: 100%;
			}

			/* list */	
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .content {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					box-sizing: border-box;
					width: 100%;
					height: calc(100% - 80px);
					max-height: calc(100% - 80px);
					overflow-y: scroll;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list {
					position: relative;
					/*display: flex;*/
					/*flex-direction: column;*/
					width: 100%;
					max-height: calc(100% - 70px);
					overflow-y: scroll;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list::before {
					content: "";
					position: absolute;
					top: 5px;
					left: 10px;
					width: 4px;
					height: calc(100% - 10px);
					min-height: 270px;
					background: #FFBA3A;
					z-index: -1;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box {
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 0;
					padding: 0;
					margin-bottom: 15px;
					line-height: 14px;
					cursor: pointer;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box:last-child {
					margin-bottom: 0;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .circle {
					position: relative;
					width: 24px;
					height: 24px;
					border: 4px solid #FFBA3A;
					box-sizing: border-box;
					border-radius: 50%;
					background: white;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .circle span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: block;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #FF720C;
					opacity: 0;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box[data-keradan-popup-item-already-seen] .circle span {
					opacity: 1;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .title {
					font-size: 13px;
				    color: black;
				    width: calc(100% - 25px - 100px);
				    margin: 0;
				    padding: 0;
				    box-sizing: border-box;
				    padding-left: 10px;
				    padding-right: 20px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box[data-keradan-popup-item-already-seen] .title {
					font-weight: bold;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100px;
					margin: 0;
					padding: 0;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link span {
					font-weight: bold;
					font-size: 14px;
					color: #FFBA3A;
					white-space: nowrap;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link svg.wide {
					width: 8px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link svg.mob {
					width: 100%;
				}
				@media (min-width: 701px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link svg.mob {
						display: none;
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .title {
						width: calc(100% - 25px - 30px);
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link {
						width: 30px;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link span {
						display: none;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .list .link-box .link svg.wide {
						display: none;
					}
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .contact-us {
					position: absolute;
					bottom: 30px;
					background: #ffae0c;
					color: black;
					width: 130px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 20px;
					border-radius: 20px;
					font-weight: 600;
					font-size: 14px;
					text-decoration: none;
				}

			/* bottom */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .bottom {
				    margin: 0 auto;
				    padding: 0;
				    padding-top: 15px;
					border-top: 1px solid rgba(0, 0, 0, 0.2);
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .bottom svg {
					width: 150px;
				}
				@media (min-width: 701px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .bottom {
						width: calc(100% - 16px);
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .full-roadmap .bottom {
						display: none;
					}
				}

		/* single-roadmap-text-item && single-roadmap-video-item */
			#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item,
			#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item {
				height: 100%;
				max-height: 100%;
			}
			
			/* head */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: center;
					border-bottom: 1px solid rgba(0,0,0,0.2);
					padding-bottom: 10px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .circle,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .circle {
					position: relative;
					width: 24px;
					height: 24px;
					border: 4px solid #FFBA3A;
					box-sizing: border-box;
					border-radius: 50%;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .circle span,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .circle span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: block;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: #FF720C;
					opacity: 0;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item[data-keradan-popup-item-already-seen] .head .circle span,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item[data-keradan-popup-item-already-seen] .head .circle span {
					opacity: 1;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .title,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .title {
					margin-left: 15px;
					font-size: 15px;
					font-weight: bold;
					color: black;
					line-height: 18px;
					text-align: left;
				}

				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons {
					display: flex;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.video {
					background: #262626;
				    color: white;
				    border: none;
				    border-radius: 20px;
				    height: 30px;
				    font-weight: normal;
				    font-size: 12px;
				    display: flex;
				    align-items: center;
				    padding-right: 15px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons button.text {
					visibility: hidden;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.video svg {
					width: 20px;
					margin-right: 8px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.video span {
					white-space: nowrap;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.back,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons button.back {
					background: transparent;
				    border: none;
				    color: #FFBA3A;
				    font-weight: bold;
				    font-size: 14px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.back svg,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons button.back svg {
					height: 12px;
				    position: relative;
				    top: 1px;
				}
				@media (min-width: 701px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .title{
						width: calc(100% - 40px - 120px);
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .title {
						width: calc(100% - 40px);
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons,
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons {
						width: 120px;
						height: auto;
						flex-direction: column;
						justify-content: center;
						align-items: flex-end;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons .back {
						display: none;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons {
						display: none;
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .title,
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .title {
						width: calc(100% - 40px);
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons,
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons {
						width: 100%;
						height: auto;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin-top: 20px;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .head .buttons button.video,
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons button.text {
						order: 2;
					}
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .head .buttons {
						display: none;
					}
				}

			/* content for text item */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content {
					margin: 20px 0;
					padding: 15px 20px;
					box-sizing: border-box;
					background: #F6F6F6;
					color: black;
					font-weight: normal;
					font-size: 16px;
					overflow-y: scroll;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content p {
					padding: 0;
					margin: 0 5px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content ul {
					padding: 0;
					margin: 0;
					padding-left: 20px;
					list-style: disc;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content a {
					color: #0085FF;
				}
				@media (min-width: 701px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content {
						height: calc(100% - 170px);
						max-height: calc(100% - 170px);
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .content {
						height: calc(100% - 270px);
						max-height: calc(100% - 270px);
					}
				}

			/* content for video item */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .above-video-text {
					margin-top: 10px;
				    text-transform: uppercase;
				    font-size: 12px;
				    line-height: 14px;
				    margin-bottom: 5px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .content {
					margin: 20px 0;
					margin-top: 0;
					background: #262626;
					padding: 10px;
					border-radius: 8px;
					box-sizing: border-box;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .content iframe {
					width: 100%;
					height: 100%;
				}
				@media (min-width: 701px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .content {
						height: calc(100% - 190px);
						max-height: calc(100% - 190px);
					}
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .content {
						height: calc(100% - 270px);
						max-height: calc(100% - 270px);
					}
				}

			/* bottom */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .bottom {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom button,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .bottom button {
					font-weight: 600;
					font-size: 14px;
					color: black;
					margin: 0 20px;
					background: #FFBA3A;
					border: none;
					border-radius: 20px;
					width: 130px;
					height: 30px;
				}

			/* button-back-for-mob */
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom-button-back,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .bottom-button-back {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 10px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom-button-back button.back,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .bottom-button-back button.back {
					background: transparent;
				    border: none;
				    color: #FFBA3A;
				    font-weight: bold;
				    font-size: 14px;
				}
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom-button-back button.back svg,
				#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-video-item .bottom-button-back button.back svg {
					height: 12px;
				    position: relative;
				    top: 1px;
				}
				@media (max-width: 700px) {
					#keradan-popup-roadmap .inner .dynamic-content-wrapper .single-roadmap-text-item .bottom-button-back {
						display: none;
					}
				}

















