.back-home,.enquiry .link_close{
    -webkit-text-decoration-line:underline;
    text-decoration-line:underline
}
@font-face{
    font-family:'Gotham Pro';
    src:url(../fonts/GothamPro-Black.eot);
    src:local("Gotham Pro Black"),local("GothamPro-Black"),url(../fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro-Black.woff) format("woff"),url(../fonts/GothamPro-Black.ttf) format("truetype");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Gotham Pro';
    src:url(../fonts/GothamPro.eot);
    src:local("Gotham Pro"),local("GothamPro"),url(../fonts/GothamPro.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro.woff) format("woff"),url(../fonts/GothamPro.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Gotham Pro';
    src:url(../fonts/GothamPro-Bold.eot);
    src:local("Gotham Pro Bold"),local("GothamPro-Bold"),url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/GothamPro-Bold.woff) format("woff"),url(../fonts/GothamPro-Bold.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}
.img-replace{
    display:inline-block;
    overflow:hidden;
    text-indent:100%;
    color:transparent;
    white-space:nowrap
}
.cd-popup{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(94,110,141,.9);
    opacity:0;
    visibility:hidden;
    transition:opacity .3s 0s,visibility 0s .3s;
    z-index:99999
}
.cd-popup.small .cd-popup-container{
    max-width:470px
}
.cd-popup.is-visible{
    opacity:1;
    visibility:visible;
    transition:opacity .3s 0s,visibility 0s 0s
}
.cd-popup-container{
    position:relative;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    background:#FFF;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,.2);
    transform:translateY(-40px);
    -webkit-backface-visibility:hidden;
    transition-property:transform;
    transition-duration:.3s
}
.small .cd-popup-container{
    max-width:443px
}
.cd-popup-container .cd-buttons:after{
    content:"";
    display:table;
    clear:both
}
.cd-popup-container .cd-popup-close{
    position:absolute;
    top:8px;
    right:8px;
    width:30px;
    height:30px
}
.cd-popup-container .cd-popup-close::after,.cd-popup-container .cd-popup-close::before{
    content:'';
    position:absolute;
    top:12px;
    width:14px;
    height:1px;
    background-color:#8f9cb5
}
.cd-popup-container .cd-popup-close::before{
    transform:rotate(45deg);
    left:8px
}
.cd-popup-container .cd-popup-close::after{
    transform:rotate(-45deg);
    right:8px
}
.is-visible .cd-popup-container{
    transform:translateY(0)
}
*{
    outline:0
}
a:focus,a:hover,input:focus,input:hover{
    text-decoration:none;
    color:inherit
}
body{
    overflow-x:hidden
}
@media (max-width:480px){
    body .display_flex,body .succcess-stap{
        display:block
    }
    body .assessment-answer input[type=text],body .assessment-answer label,body .question-box input{
        min-width:calc(100% - 30px);
        width:inherit;
        max-width:100%
    }
    body .assessment-page.active p{
        font-size:18px
    }
    body .assessment,body .assessment_succcess{
        overflow-x:hidden
    }
    body .assessment .container,body .assessment_succcess .container{
        padding:0 15px;
        max-width:480px
    }
    body .assessment-progress{
        padding:35px 0 14px
    }
    body .succcess-stap li{
        -ms-flex-positive:1;
        flex-grow:1;
        border:1px solid #FDAD2D;
        margin-bottom:10px
    }
    body .succcess-stap li:after,body .succcess-stap li:before{
        display:none
    }
    body .succcess-next_stap ul{
        display:inline-block;
        max-width:200px;
        text-align:left
    }
    body .appeal,body .appeal-row{
        text-align:center
    }
    body .succcess-next_stap ul li{
        margin:0 0 20px
    }
    body .success2 .succcess-stap li:nth-child(2){
        width:100%
    }
    body .success2 .succcess-next_stap ul li{
        max-width:100%;
        padding-left:9px
    }
    body .success2 .succcess-next_stap ul li br{
        display:none
    }
    body .appeal-row{
        display:block
    }
    body .appeal .title{
        margin-right:0
    }
    body .appeal br{
        display:none
    }
    body .appeal-btn{
        display:inline-block;
        padding:19px 35px
    }
    body .appeal-popup .content{
        padding:22px 40px 41px
    }
}
@media (min-width:415px) and (max-width:667px){
    body .display_flex,body .succcess-stap{
        display:block
    }
    body .assessment-answer input[type=text],body .assessment-answer label,body .question-box input{
        min-width:calc(100% - 30px);
        width:inherit;
        max-width:100%
    }
    body .assessment-page.active p{
        font-size:18px
    }
    body .assessment,body .assessment_succcess{
        overflow-x:hidden
    }
    body .assessment .container,body .assessment_succcess .container{
        padding:0 15px;
        max-width:480px
    }
    body .assessment-progress{
        padding:35px 0 14px
    }
    body .succcess-stap li{
        -ms-flex-positive:1;
        flex-grow:1;
        border:1px solid #FDAD2D;
        margin-bottom:10px
    }
    body .succcess-stap li:after,body .succcess-stap li:before{
        display:none
    }
    body .succcess-next_stap ul{
        display:inline-block;
        max-width:200px;
        text-align:left
    }
    body .appeal,body .appeal-row{
        text-align:center
    }
    body .succcess-next_stap ul li{
        margin:0 0 20px
    }
    body .success2 .succcess-stap li:nth-child(2){
        width:100%
    }
    body .success2 .succcess-next_stap ul li{
        max-width:100%;
        padding-left:9px
    }
    body .success2 .succcess-next_stap ul li br{
        display:none
    }
    body .appeal-row{
        display:block
    }
    body .appeal .title{
        margin-right:0
    }
    body .appeal br{
        display:none
    }
    body .appeal-btn{
        display:inline-block;
        padding:19px 35px
    }
    body .appeal-popup .content{
        padding:22px 40px 41px
    }
}
@media (min-width:668px) and (max-width:1200px){
    body .display_flex,body .succcess-stap{
        display:block
    }
    body .assessment-answer input[type=text],body .assessment-answer label,body .question-box input{
        min-width:calc(100% - 30px);
        width:inherit;
        max-width:100%
    }
    body .assessment-page.active p{
        font-size:18px
    }
    body .assessment,body .assessment_succcess{
        overflow-x:hidden
    }
    body .assessment .container,body .assessment_succcess .container{
        padding:0 15px;
        max-width:480px
    }
    body .assessment-progress{
        padding:35px 0 14px
    }
    body .succcess-stap li{
        -ms-flex-positive:1;
        flex-grow:1;
        border:1px solid #FDAD2D;
        margin-bottom:10px
    }
    body .succcess-stap li:after,body .succcess-stap li:before{
        display:none
    }
    body .succcess-next_stap ul{
        display:inline-block;
        max-width:200px;
        text-align:left
    }
    body .appeal,body .appeal-row{
        text-align:center
    }
    body .succcess-next_stap ul li{
        margin:0 0 20px
    }
    body .success2 .succcess-stap li:nth-child(2){
        width:100%
    }
    body .success2 .succcess-next_stap ul li{
        max-width:100%;
        padding-left:9px
    }
    body .success2 .succcess-next_stap ul li br{
        display:none
    }
    body .appeal-row{
        display:block
    }
    body .appeal .title{
        margin-right:0
    }
    body .appeal br{
        display:none
    }
    body .appeal-btn{
        display:inline-block;
        padding:19px 35px
    }
    body .appeal-popup .content{
        padding:22px 40px 41px
    }
}
.assessment-progress .progress-line .percent,.assessment-progress .title{
    font-size:16px;
    font-weight:900;
    line-height:110%;
    font-family:Gotham Pro;
    font-style:normal
}
.assessment .container{
    max-width:933px;
    position:relative
}
.assessment-progress{
    background:#EBEBEB;
    padding:28px 0 24px
}
.assessment-progress .title{
    margin-bottom:11px
}
.assessment-progress .progress-line{
    background:#FFF;
    border-radius:30px;
    height:10px;
    width:100%;
    max-width:865px;
    position:relative
}
.assessment-progress .progress-line span{
    background:#FDB948;
    border-radius:30px;
    height:10px;
    display:block;
    width:30%
}
.assessment-progress .progress-line .percent{
    color:#FDAD2D;
    position:absolute;
    top:-26px;
    right:0
}
.assessment-page{
    display:none
}
.assessment-page.active,.display_flex{
    display:-ms-flexbox;
    -ms-flex-align:center
}
.assessment-page.active{
    display:flex;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    height:calc(100vh - 91px);
    overflow-y:auto;
    padding-top:70px;
    padding-bottom:70px
}
.assessment-page.active h2{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:900;
    font-size:40px;
    line-height:110%;
    text-align:center;
    margin-bottom:10px
}
.assessment-page.active p{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:400;
    font-size:24px;
    line-height:140%;
    margin-bottom:70px;
    text-align:center
}
.assessment-question{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:900;
    font-size:20px;
    line-height:110%;
    color:#000;
    margin-bottom:17px
}
.assessment-answer input[type=text],.assessment-answer label,.assessment-answer label.income input,.assessment-answer label.income:before{
    font-weight:400;
    font-size:17px;
    font-family:Gotham Pro;
    font-style:normal
}
.assessment-answer{
    margin-bottom:10px;
    margin-left:20px
}
.question-box,.succcess-item h1{
    margin-bottom:30px
}
.assessment-answer input[type=radio]{
    display:none
}
.assessment-answer input[type=radio]:checked+label:after{
    opacity:1;
    background:#000
}
.assessment-answer input[type=radio].other_input:checked~.other-text{
    display:block
}
.assessment-answer.small{
    display:inline-block;
    vertical-align:middle
}
.assessment-answer.small label{
    min-width:inherit
}
.assessment-answer label{
    padding:11px 14px 11px 47px;
    background:#F2F2F2;
    border:1px solid #FFF;
    box-sizing:border-box;
    border-radius:4px;
    display:inline-block;
    line-height:1;
    color:#000;
    min-width:423px;
    position:relative;
    cursor:pointer;
    transition:.3s
}
.assessment-answer label:after,.assessment-answer label:before{
    content:"";
    position:absolute;
    transform:translateY(-50%);
    top:50%
}
.assessment-answer label:hover{
    border:1px solid #FDAD2D
}
.assessment-answer label:hover:after{
    opacity:1
}
.assessment-answer label:before{
    width:15.83px;
    height:15.83px;
    border:1px solid #000;
    border-radius:50%;
    left:16px
}
.assessment-answer label:after{
    width:7.92px;
    height:7.92px;
    background:#FDB948;
    border-radius:50%;
    left:21px;
    opacity:0;
    transition:.3s
}
.assessment-answer label.income{
    max-width:195px;
    min-width:inherit;
    width:100%;
    padding:9px 0 9px 45px;
    background:#F2F2F2
}
.assessment-answer label.income:after{
    display:none
}
.assessment-answer label.income:before{
    content:"$";
    border:0;
    height:24px;
    width:45px;
    border-radius:0;
    border-right:1px solid #A9A9A9;
    line-height:28px;
    text-align:center;
    color:#000;
    left:0
}
.assessment-answer label.income input{
    display:block;
    background:0 0;
    border:0;
    border-radius:0;
    min-height:24px;
    width:100%;
    padding-left:10px;
    line-height:120%;
    color:#000
}
.assessment-answer input[type=text]{
    background:#F2F2F2;
    border-radius:4px;
    line-height:120%;
    color:rgba(0,0,0,.5);
    min-width:423px
}
.assessment-answer .other-text{
    display:none;
    margin-top:10px
}
.assessment-answer .info{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:500;
    font-size:12px;
    line-height:120%;
    text-transform:uppercase;
    color:rgba(0,0,0,.3);
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}
.question-next,.warning{
    display:inline-block;
    font-size:17px;
    font-family:Gotham Pro;
    font-style:normal
}
.question-next{
    margin-left:20px;
    background:#FDB948;
    box-shadow:0 6px 12px rgba(43,43,43,.15);
    border-radius:33px;
    padding:10px 40px;
    font-weight:700;
    line-height:135%;
    text-align:center;
    color:#000;
    /*margin-top:20px;*/
    transition:.3s;
    border:0;
    cursor:pointer;
    text-decoration:none
}
.question-next:hover{
    transform:translateY(5%);
    box-shadow:0 6px 12px rgba(43,43,43,0)
}
.question-next:hover svg{
    margin-left:11px
}
.question-next svg{
    vertical-align:middle;
    display:inline-block;
    margin-left:8px;
    transition:.3s
}
.warning{
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    padding:11px 14px;
    background:#F2F2F2;
    border:1px solid #FDAD2D;
    box-sizing:border-box;
    border-radius:4px;
    font-weight:400;
    line-height:120%;
    color:#000
}
.question-box input[type=text]{
    max-width:480px;
    height:inherit
}
.display_flex{
    display:flex;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:left
}
.assessment_succcess{
    padding:40px 0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:100vh
}
.assessment_succcess .container{
    max-width:1017px
}
.succcess-item{
    text-align:center
}
.succcess-item h1{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:900;
    font-size:40px;
    line-height:110%;
    color:#000
}
.succcess-item p{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:400;
    font-size:17px;
    line-height:140%;
    text-align:center;
    color:#000;
    margin-bottom:20px
}
.succcess-progress .line .percent,.succcess-progress .progress-title{
    font-weight:900;
    line-height:110%;
    font-size:20px;
    font-family:Gotham Pro;
    font-style:normal
}
.succcess-progress{
    max-width:721px;
    margin-left:auto;
    margin-right:auto;
    text-align:left
}
.succcess-progress .progress-title{
    color:#000;
    margin-bottom:22px
}
.succcess-progress .line{
    height:16px;
    background:#F1F1F1;
    border-radius:30px;
    width:100%;
    margin-bottom:24px;
    position:relative
}
.succcess-progress .line span{
    height:16px;
    transition:.3s;
    background:#FDB948;
    border-radius:30px;
    display:block
}
.succcess-progress .line .percent{
    text-align:right;
    color:#FDAD2D;
    position:absolute;
    top:-44px;
    right:0
}
.succcess-stap{
    list-style:none;
    padding:0;
    margin:0 0 46px;
    display:-ms-flexbox;
    display:flex
}
.succcess-stap li{
    -ms-flex-positive:1;
    flex-grow:1;
    background:#F4F4F4;
    border:1px solid #FDAD2D;
    border-right:0;
    border-left:0;
    text-align:left;
    padding:15px 17px 13px 21px;
    position:relative;
    min-width:33.3333%
}
.succcess-stap li:after,.succcess-stap li:before{
    position:absolute;
    content:"";
    top:0
}
.succcess-stap li svg{
    margin-left:15px
}
.succcess-stap li:before{
    border:75px solid transparent;
    border-left:30px solid #FDAD2D;
    right:-74px
}
.succcess-stap li:after{
    border:75px solid transparent;
    border-left:30px solid #F4F4F4;
    right:-73px
}
.succcess-stap li *{
    position:relative;
    z-index:5
}
.succcess-stap li:first-child{
    border-left:1px solid #FDAD2D
}
.succcess-stap li:last-child{
    border-right:1px solid #FDAD2D
}
.succcess-stap li:last-child:after,.succcess-stap li:last-child:before{
    display:none
}
.succcess-stap li .title{
    margin-bottom:20px;
    line-height:1;
    color:#000;
    font-style:normal;
    font-weight:500;
    font-size:20px
}
.succcess-stap li .title span{
    font-family:Gotham Pro;
    font-style:normal;
    font-size:40px;
    font-weight:700
}
.succcess-stap li .info,.succcess-stap li p{
    font-weight:400;
    font-size:13px;
    line-height:140%;
    font-family:Gotham Pro;
    font-style:normal
}
.succcess-stap li p{
    color:#000;
    text-align:left;
    margin-bottom:7px
}
.succcess-stap li .info{
    display:block;
    color:#818181
}
.succcess-next_stap{
    text-align:center;
    max-width:697px;
    margin-left:auto;
    margin-right:auto
}
.succcess-next_stap .question-next{
    margin-left:0
}
.succcess-next_stap a:not(.question-next){
    font-size:16px;
    line-height:140%;
    color:#000;
    text-decoration:underline
}
.succcess-next_stap .title{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:140%;
    color:#000;
    margin-bottom:20px
}
.back-home,.info-text,.succcess-next_stap ul li{
    font-weight:400;
    line-height:140%;
    color:#000;
    font-family:Gotham Pro;
    font-style:normal
}
.succcess-next_stap .title.large{
    font-size:30px;
    line-height:140%;
    margin-bottom:45px
}
.succcess-next_stap ul{
    list-style:none;
    margin:0 auto 65px;
    padding:0
}
.succcess-next_stap ul li{
    text-align:left;
    display:inline-block;
    position:relative;
    font-size:18px;
    padding-left:22px;
    border-left:1px solid #000;
    margin-right:40px
}
.appeal-popup .top p,.back-home,.enquiry,.enquiry .link_close,.enquiry .title,.info-text{
    text-align:center
}
.succcess-next_stap ul li:last-child{
    margin-right:0
}
.back-home{
    font-size:14px
}
.success2 .succcess-stap{
    margin-bottom:17px
}
.success2 .succcess-stap li:nth-child(2){
    padding-right:0;
    width:470px;
    min-width:inherit
}
.success2 .succcess-stap li:nth-child(2):before{
    right:-106px
}
.success2 .succcess-stap li:nth-child(2):after{
    right:-105px
}
.success2 .succcess-stap li:last-child{
    padding-left:50px;
    background:#FFF;
    border:1px solid #DBDBDB;
    z-index:-1
}
.success2 .succcess-next_stap{
    max-width:inherit
}
.success2 .succcess-next_stap ul{
    margin-bottom:20px
}
.success2 .succcess-next_stap ul li{
    max-width:33.333%;
    padding-left:9px
}
.info-text{
    font-size:16px;
    margin-bottom:35px
}
.enquiry{
    max-width:470px;
    width:100%;
    background:#EEE;
    padding:40px 28px
}
.enquiry .title{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:900;
    font-size:40px;
    line-height:110%;
    color:#000;
    margin-bottom:30px
}
.enquiry .succcess-progress .progress-title{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:900;
    font-size:18px;
    color:#000;
    padding-right:60px
}
.enquiry .link_close,.enquiry p{
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:400;
    color:#000
}
.enquiry .succcess-progress .percent{
    font-size:20px
}
.enquiry .succcess-progress .line{
    background:#fff
}
.enquiry p{
    font-size:17px;
    line-height:149.5%
}
.enquiry a{
    display:block
}
.enquiry .link_close{
    margin-top:27px;
    font-size:14px;
    line-height:140%
}
.appeal .title,.appeal-popup .top .title{
    font-family:Gotham Pro;
    font-style:normal;
    font-size:34px
}
.enquiry .link_close:hover{
    text-decoration:none
}
.appeal{
    background:#262626;
    padding:30px 0
}
.appeal .container{
    padding-left:15px;
    padding-right:15px
}
body[class*='-template-single-new'] #main-content .appeal .container {padding-bottom: 0px;}
#main-content .appeal .container:before {display: none;}
body:not(.et-tb) #main-content .appeal .container, body:not(.et-tb-has-header) #main-content .appeal .container {padding-bottom: 0px;padding-top: 0px;}
.appeal .title{
    font-weight:700;
    line-height:110%;
    letter-spacing:-.01em;
    color:#fff;
    margin-right:60px;
}
.appeal-row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center
}
.appeal-popup{
    max-width:470px
}
.appeal-popup .top{
    background:url(../images/1man.png) center no-repeat;
    padding:26px 20px;
    background-size:cover;
    border-top-left-radius:10px;
    border-top-right-radius:10px
}
.appeal-popup .top .title{
    font-weight:900;
    line-height:100%;
    text-align:center;
    color:#FFF;
    margin-bottom:10px
}
.appeal-popup .content .title,.appeal-popup .top p{
    font-size:17px;
    font-family:Gotham Pro;
    font-style:normal
}
.appeal-popup .top p{
    margin-bottom:0;
    font-weight:500;
    line-height:120%;
    color:#FFF;
    max-width:262px;
    margin-left:auto;
    margin-right:auto
}
.appeal-popup .content{
    padding:22px 60px 41px;
    background:#F2F2F2;
    box-shadow:0 8px 18px rgba(0,0,0,.12);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align:left
}
.appeal-popup .content .title{
    font-weight:700;
    line-height:160%;
    -ms-flex-align:center;
    align-items:center;
    color:#000;
    margin-bottom:15px
}
.appeal-popup .content ul{
    list-style:none;
    padding:0;
    margin:0
}
.appeal-popup .content ul li{
    position:relative;
    font-family:Gotham Pro;
    font-style:normal;
    font-weight:400;
    font-size:13px;
    line-height:118.5%;
    color:#000;
    margin-bottom:17px;
    padding-left:23px
}
.appeal-popup .content ul li:before{
    content:"";
    width:10px;
    height:10px;
    background:#FDAD2D;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0
}
.appeal-popup .content form{
    margin-top:5px
}
.appeal-popup .content form input{
    display:block;
    margin-bottom:15px;
    height:auto;
    line-height:1
}
.appeal-popup .content form input:-ms-input-placeholder{
    line-height:1
}
.appeal-popup .content form input::placeholder{
    line-height:1
}
.appeal-popup .content form button{
    min-height:50px;
    width:100%;
    margin-left:0;
    margin-right:0;
}
.appeal-btn {
    box-sizing: border-box;
    min-height:60px;
    padding:19px 40px;
    margin-left:0;
    margin-top: 10px;
}
@media screen and (min-width: 480px) {
    .appeal-btn{
        min-width: 340px;
    }
}
@media screen and (min-width: 1200px) {
    .appeal-btn{
        margin-top: 0px;
    }
}