#et-main-area {
  margin-top: 0 !important;
}

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 126px;
  display: flex;
}

.header__phone {
  display: flex;
  align-items: center;
  background: #fff5e2;
  border-radius: 60px;
  padding: 10px 24px;
  margin-right: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  font-size: 15px;
  color: #000;
  font-weight: 600;
  transition: 0.35s;
}

@media (hover: hover) {
  .header__phone:hover {
    background-color: #ffc65b;
  }
}

.header__phone svg {
  margin-right: 10px;
}

.header__navbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 25px;
  margin-right: 20px;
}

.header__nav {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #000;
  margin-right: 20px;
}

.header__subnav {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 30px 30px 17px;
  width: 735px;
  display: flex;
  justify-content: space-between;
  transform: translateY(17px);
}

.header__subnav-calc {
  width: 770px;
}

.header__subnav-wrap {
  max-width: 440px;
  width: 100%;
}

.header__subnav-inner {
  display: flex;
  justify-content: space-between;
}

.header__subnav-about {
  display: block;
  width: 265px;
}

.header__subnav-title {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.header__subnav-post {
  position: relative;
  display: flex;
  line-height: 0;
  border-radius: 15px;
  overflow: hidden;
}

.header__subnav-post img {
  min-height: 180px;
  object-fit: cover;
}

.header__subnav-post span {
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  padding: 15px;
  line-height: 1;
}

.header__subnav-title span {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: white;
  padding-right: 10px;
}

.header__subnav-title:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: #ffba3a;
}

.header__subnav-block {
  max-width: 207px;
  width: 100%;
}

.header__report {
  padding: 15px;
  background: #eee;
  border-radius: 10px;
  color: #000;
  max-width: 240px;
  width: 100%;
}

.header__report-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
}

.header__report-descr {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.04em;
}

.header__report-btn {
  max-width: 118px;
  width: 100%;
  height: 44px;
  border: none;
  cursor: pointer;
  transition: 0.35s;
}

.header__subnav-link {
  position: relative;
  padding: 13px 16px;
  padding-right: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #000000;
  transition: 0.3s;
}

.header__nav li:nth-child(2) ul:first-child li:first-child a:after {
  content: 'Popular';
  border-radius: 100px;
  background: var(--Green, #77b255);
  margin-left: 8px;
  padding: 2px 8px;
  color: var(--White, #fff);
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: -0.6px;
  text-transform: capitalize;
}

.header__subnav-link_details {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  padding-top: 7px;
  font-weight: 600;
  font-size: 13px;
  transition: 0.35s;
}

.header__subnav-link_details span {
  padding-bottom: 3px;
  border-bottom: 1px dashed #828282;
}

.header__subnav-link_details svg {
  margin-left: 8px;
  width: 12px;
  transition: 0.35s;
  fill: #828282;
}

.header__subnav-link_details:before {
  display: none;
}

@media (hover: hover) {
  .header__subnav-link_details:hover span {
    border-color: #ffba3a;
  }

  .header__subnav-link:hover {
    color: #ffba3a;
  }

  .header__subnav-link_details:hover svg {
    fill: #ffba3a;
  }
}

.header__subnav-link:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffba3a;
}

.header__search {
  margin-left: auto;
  line-height: 0;
}

.header__search-form {
  position: absolute;
  top: 0;
  left: 94%;
  right: 0px;
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: 60px;
  overflow: hidden;
  padding: 10px 0;
  height: 44px;
  opacity: 0;
}

.header__search-icon {
  padding: 0 21px;
  border-right: 1px solid #444444;
  transition: 0.3s;
}

.header__search input {
  width: 0px;
  background: #eee;
  flex-grow: 1;
  font-size: 18px;
  padding: 7px 52px 5px 21px;
}

.header__search input.active {
  width: 100%;
}

.header__search-toggle {
  position: relative;
  z-index: 2;
  border-radius: 60px;
  width: 44px;
  height: 44px;
  background: #eee url(/wp-content/themes/Divi/images/header-search.svg) center
    no-repeat !important;
  background-size: 22px;
  cursor: pointer;
  transition: 0.35s;
  border: none;
  cursor: pointer;
}

.header__search-toggle.active {
  background: #eee url(/wp-content/themes/Divi/images/header-close.svg) center
    no-repeat !important;
  background-size: 14px;
}

.header__nav a {
  color: inherit;
  /*transition: 0.3s;*/
}

/*		.header__nav a:hover {
 			color: #FFBA3A;
 			border-color: #FFBA3A;
 		}*/

.header__nav-link {
  padding: 5px 0;
  border-bottom: 1px dashed #828282;
  white-space: nowrap;
  display: flex;
  font-weight: 600;
}

@media (hover: hover) {
  .header__nav-link:hover {
    color: #ffba3a;
    border-color: #ffba3a;
  }

  .header__search-toggle:hover {
    background-color: #ffc65b !important;
  }
}

.header__nav-item_mobile {
  display: none;
}

.header__nav-dropdown {
  position: relative;
  padding-right: 17px;
}

.header__nav-dropdown:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: url(/wp-content/themes/Divi/images/dropdown-arrow.svg) center
    no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.header__nav-dropdown.active:after {
  transform: translateY(-50%) rotate(180deg);
}

.header__nav-item + .header__nav-item {
  margin-left: 22px;
}

.header__actions {
  display: flex;
  white-space: nowrap;
  width: fit-content;
}

.header__assessment {
  border: none;
  padding: 0 24px;
  height: auto;
  font-size: 15px;
  cursor: pointer;
  transition: 0.35s;
}

.header__assessment-control {
  display: flex;
}

.header__assessment-top {
  display: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 6px 12px rgb(43 43 43 / 15%);
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 50px;
}

.header__assessment-control.active {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 99;
}

.header__assessment-control.active .header__assessment-top {
  display: block;
}

.header__menu-trigger {
  display: none;
  border: none;
  padding: 5px 20px;
  height: auto;
  font-size: 15px;
  cursor: pointer;
  transition: 0.35s;
  line-height: 1;
  height: 44px;
  margin-left: 20px;
}

.breadcrumbs {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #828282;
}

.breadcrumbs a {
  color: #828282;
  border-bottom: 1px dashed #828282;
  transition: 0.3s;
}

.breadcrumbs a:hover {
  color: #ffba3a;
  border-color: #ffba3a;
}

.breadcrumbs__divider {
  width: 10px;
  height: 10px;
  background: url(/wp-content/themes/Divi/images/breadcrumbs-arrow.svg) center
    no-repeat;
  background-size: contain;
  transition: 0.3s;
  margin: 0 7px;
  display: inline-block;
  flex-shrink: 0;
}

.breadcrumbs #breadcrumbs {
  margin-bottom: 0;
  border-top: 1px solid #eee;
  padding: 17px 0 20px;
}

.breadcrumbs #breadcrumbs > span > span {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.breadcrumbs #breadcrumbs > span > span span:not(.breadcrumb_last) {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs #breadcrumbs > span > span span.breadcrumb_last {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1250px) {
  .header__container {
    padding: 0 20px;
    width: 100% !important;
  }

  .header {
    border-bottom: 1px solid #eee;
  }

  .header__phone span {
    display: none;
  }

  .header__phone svg {
    margin-right: 0;
  }

  .header__phone {
    width: 44px;
    height: 44px;
    padding: 0;
    justify-content: center;
  }
}

@media (max-width: 1160px) and (min-width: 993px) {
  .header__nav-dropdown:nth-child(2) .header__subnav,
  .header__nav-dropdown:nth-child(3) .header__subnav {
    left: -200px;
  }
}

.header__navbar-head {
  display: none;
}

@media (max-width: 1200px) {
  .header__assessment-control {
    display: none;
  }

  /* .header__assessment {
				display: none;
			} */

  .header__phone {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .breadcrumbs #breadcrumbs {
    border-top: none;
  }

  .header {
    padding: 13px 0;
    position: fixed;
    background: white;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
  }

  .admin-bar .header {
    top: 32px;
  }

  body {
    margin-top: 71px;
  }

  .header__logo {
    /*width: auto;*/
    display: block;
    line-height: 0;
    width: 94px;
    flex-shrink: 0;
  }

  .header__logo img {
    width: 94px;
  }

  .header__menu-trigger {
    display: block;
    box-shadow: none !important;
  }

  .header__nav {
    flex-flow: column;
    margin-right: 0;
    padding: 20px;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 0;
  }

  .header__nav-link {
    padding: 13px 0;
    padding-right: 20px;
  }

  .header__nav-dropdown:after {
    right: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
  }

  .header__nav-dropdown {
    margin-right: 0;
    padding-right: 0;
  }

  .header__navbar {
    position: static;
    margin-left: 25px;
  }

  .header__navbar-inner {
    position: fixed;
    background: #fff;
    /*display: none;*/
    z-index: 999;
    transition: 0.35s;
    transition-timing-function: linear;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    /*transform: translateX(100%);*/
  }

  .header__navbar-inner.active {
    /*transform: translateX(0);*/
    left: 0;
    right: 0;
  }

  .header__navbar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #828282;
  }

  .header__navbar-back,
  .header__navbar-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none !important;
    line-height: 0;
    cursor: pointer;
    border: none;
    /*transition: 0.35s;*/
    width: 32px;
    height: 32px;
    border-radius: 100px;
    fill: #828282;
    outline: none;
    opacity: 1;
  }

  .header__navbar-back:hover,
  .header__navbar-close:hover {
    background: none;
    outline: none;
  }

  .header__navbar-back.hide {
    opacity: 0;
  }

  .header__nav-item_mobile,
  .header__nav-item_mobile .header__assessment {
    display: block;
  }

  .header__nav-item_mobile {
    margin-top: 30px;
  }

  .header__nav-item_mobile .header__assessment {
    width: 100%;
    line-height: 48px;
    padding: 0;
  }

  .header__subnav {
    position: fixed;
    display: block !important;
    width: auto;
    transform: none;
    top: 57px;
    bottom: 0;
    overflow: auto;
    padding: 20px;
    box-shadow: none;
    /*transform: translateX(100%);*/
    transition: 0.35s;
    transition-timing-function: linear;
    left: 100%;
    right: -100%;
  }

  .header__subnav.active {
    /*transform: translateX(0);*/
    left: 0;
    right: 0;
  }

  .header__subnav-block {
    max-width: 100%;
  }

  .header__subnav-block + .header__subnav-block {
    margin-top: 30px;
  }

  .header__subnav-link_details {
    padding-top: 13px;
  }

  .header__subnav-inner {
    display: block;
  }

  .header__subnav-block + ul.header__subnav-block {
    margin-top: 0;
  }

  .header__report {
    margin-top: 30px;
    max-width: 100%;
  }

  .header__search-toggle.active {
    position: absolute;
    top: 0;
    right: 17px;
  }

  .new_mobile_header {
    display: none !important;
  }
}

@media (max-width: 782px) {
  .admin-bar .header {
    top: 46px;
  }
}

@media (max-width: 600px) {
  .admin-bar .header.fixed {
    top: 0;
  }
}

@media (min-width: 992px) {
  .header__nav-item:nth-child(2) .header__subnav-calc {
    width: 827px;
    padding: 24px 24px 11px;
  }

  .header__nav-item:nth-child(2) .header__subnav-wrap {
    max-width: 512px;
  }

  .header__nav-item:nth-child(2) .header__subnav-block {
    max-width: 240px;
  }
}

.header__logo img {
  max-width: 126px !important;
  display: none; /* display block in footer (to prevent flickering when logo changes in regional removal script) */
}

@media (min-width: 993px) {
  .header__navbar-head {
    display: none !important;
  }
}
