---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/organisms/Footer.astro';
---

<Layout title="Footer (Canonical)">
  <main>
    <div style="min-height:40vh"></div>
    <Footer />
  </main>
</Layout>


