---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/organisms/Header.astro';
---

<Layout title="Header (Canonical)">
  <Header />
  <div style="height: 120vh"></div>
  <div style="padding:16px;text-align:center;opacity:.7">End of header preview</div>
</Layout>


