---
import Layout from '../../layouts/Layout.astro';
import LegacyHeader from '../../components/organisms/Header.astro';
---

<Layout title="Header (Legacy)">
  <LegacyHeader />
  <div style="height: 120vh"></div>
  <div style="padding:16px;text-align:center;opacity:.7">End of legacy header preview</div>
</Layout>


