body {
  padding: 0 !important;
}

#main-content .container {
  max-width: 1272px;
  width: 100%;
  padding: 0 16px !important;
  overflow: hidden;
}

#main-content * {
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4 {
  color: var(--Grey-dark, #262626);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

h1 {
  font-weight: 400;
}

h1 b {
  font-weight: 800;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

#main-content ul {
  list-style-type: none;
}

#main-content li,
#main-content p,
#main-content a {
  color: var(--Grey-dark, #262626);
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#main-content ul:not(.list, .tabs, .awards__list) li {
  padding-left: 24px;
  position: relative;
  font-weight: 600;
  margin-bottom: 8px;
}

#main-content ul:not(.list, .tabs, .awards__list) {
  padding: 24px 0;
}

#main-content ul:not(.list, .tabs, .awards__list) li:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fdb948;
}

.footer-widget li:before {
  top: 10px !important;
  border-width: 2px !important;
  border-color: #fdb948;
}

#main-content section {
  padding: 50px 0;
}

/* offer */
#main-content section.home_offer {
  padding-top: 12px;
}

.home_offer_left {
  max-width: 680px;
  width: 100%;
}

.home_offer_right {
  width: calc(100% - 680px);
  max-width: 560px;
  border-radius: 8px;
  object-fit: contain;
  object-position: top;
}

.home_banner_market span {
  font-weight: 600;
  text-decoration-line: underline;
}

#main-content .home_offer .btn_yellow {
  margin: 32px 0;
}

#main-content .btn_yellow {
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  box-shadow: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#main-content .btn_yellow img {
  margin-left: 8px;
}

.specific {
  border-radius: 12px;
  border: 1px dashed var(--Yellow-Primary, #fdb948);
  padding: 26px 20px;
  max-width: 433px;
  width: 100%;
}

.specific h4 {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
}

#main-content a.link_light {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 16px;
  border-radius: 100px;
  background: var(--Yellow-light, #fff5e2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

#main-content .home_count p {
  color: var(--Yellow-Primary, #fdb948);
  font-family: 'Open Sans';
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid var(--Yellow-Primary, #fdb948);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  flex-shrink: 0;
}

.home_offer_footer {
  padding: 40px 0;
}

.home_offer_footer > div img {
  margin-right: 20px;
  flex-shrink: 0;
  max-height: 60px;
}

.home_offer_footer img {
  max-width: 720px !important;
}

.line_dashed {
  background: url('/wp-content/themes/hunter-galloway/assets/img/img_new/line-dashed.svg')
    no-repeat center / contain;
  width: 100%;
  height: 1px;
}

/* loan-purpose */

.loan-purpose h2 {
  padding-bottom: 64px;
}

#main-content ul.tabs li {
  cursor: pointer;
  padding: 20px;
  color: var(--Grey, #828282);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  max-width: 300px;
  width: 100%;
  border-bottom: 2px solid var(--Gray-200, #eee);
  margin: 0;
}

#main-content ul.tabs li.active {
  border-color: var(--Yellow-Primary, #fdb948);
  color: var(--Grey-dark, #262626);
  font-weight: 700;
}

.tabs_content {
  padding: 48px;
  border-radius: 8px;
  background: var(--Grey-BG, #f9f9f9);
}

.tabs_content > div {
  width: 50%;
}

.tabs_content > div:first-child {
  padding-right: 20px;
}

.tabs_content > div:last-child {
  max-width: 539px;
}

.tabs_content h3 {
  color: var(--Grey-dark, #262626);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.tabs_content h3 svg {
  margin-right: 12px;
}

.tabs_content h3 + p {
  font-size: 18px;
  line-height: 26px;
}

.tabs_content .block {
  border-radius: 12px;
  border: 1px dashed var(--Yellow-Primary, #fdb948);
  background: var(--White, #fff);
  max-width: 520px;
  padding: 30px 32px;
  margin-top: 32px;
}

.tabs_content .block h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 144.444% */
}

.tabs_content .list li:not(:last-child) {
  margin-bottom: 12px;
}

#main-content .tabs_content .btn_yellow {
  max-width: 282px;
  width: 100%;
  margin-right: 16px;
  font-size: 16px;
}

#main-content .tabs_content .btn_white {
  max-width: 241px;
  width: 100%;
  display: block;
}

#main-content .tabs_content .list {
  margin: 0 0 32px 0;
}

#main-content .btn_white {
  border-radius: 100px;
  border: 1px solid var(--Grey-dark, #262626);
  background-color: transparent;
  color: var(--Grey-dark, #262626);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  padding: 12px;
}

/* banks */
#main-content .banks .container {
  max-width: 1345px;
  padding: 0px 16px !important;
}

.banks h3 {
  max-width: 820px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
}

.banks_row {
  margin-top: 64px;
  gap: 40px;
  justify-content: center;
}

.banks_row img {
  max-height: 54px;
  object-fit: contain;
}

/*  */
.mortagevsrent {
  max-width: 800px;
  margin: 0 auto;
}

.mortagevsrent h2 {
  padding-bottom: 24px;
}

#main-content .mortagevsrent h2 + p {
  font-size: 20px;
  line-height: 28px;
}

.mortagevsrent_calc {
  margin: 64px auto 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eee);
  background: var(--Gray-100, #f4f4f4);
  padding: 40px;
}

.calc__slider {
  position: relative;
  width: 100%;
  margin-top: 62px;
}

.calc__slider-sides {
  color: var(--Grey-dark, #262626);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 144.444% */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.calc__slider-input {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
  border: 1px solid var(--Gray-200, #eee);
  background: var(--White, #fff);
  margin: 0;
  display: flex;
}

.calc__slider-input::-webkit-slider-thumb {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  background: #ffba3a;
  border-radius: 50%;
  cursor: pointer;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  color: var(--Yellow-Primary, #fdb948);
  border: 2px solid var(--White, #fff);
  box-shadow: 0px 6px 10px rgba(63, 57, 44, 0.08);
  z-index: 3;
}

.calc__slider-input::-moz-range-thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid var(--Gray-200, #eee);
  background: #ffba3a;
}

.calc__slider-caption {
  position: absolute;
  pointer-events: none;
  top: -25px;
  left: 12px;
  background: #fff;
  text-align: center;
  min-width: 47px;
  transform: translate(-50%, -80%);
  border-radius: 2px;
  border: 1px solid var(--Gray-200, #eee);
  background: var(--White, #fff);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
  color: var(--Grey-dark, #262626);
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  padding: 4px 7px;
}

.calc__slider-caption:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 55%) rotate(45deg);
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}

.calc__btn-wrap {
  text-align: center;
  margin-top: 32px;
}

.calc__btn {
  max-width: 280px;
  width: 100%;
  margin: auto;
}

.calc__slider-line {
  position: absolute;
  left: 0;
  top: 1px;
  height: 10px;
  border-radius: 30px;
  background: var(--Yellow-Primary, #fdb948)
    url('/wp-content/themes/hunter-galloway/assets/img/img_new/range_bg.svg')
    repeat center / 159px 10px;
  z-index: 4;
  pointer-events: none;
}

.calc__slider-line:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  left: calc(100% - 6px);
  top: 50%;
  transform: translateY(-50%);
  background: var(--Yellow-Primary, #fdb948);
  border: 2px solid #fff;
  box-shadow: 0px 6px 10px rgba(63, 57, 44, 0.08);
  z-index: 2;
  border-radius: 50%;
}

/* to-map */
.to-map {
  background: #eeeeee
    url('/wp-content/themes/hunter-galloway/assets/img/img_new//to-map.svg')
    right no-repeat;
  background-size: auto 100%;
  border-radius: 10px;
  padding: 48px !important;
  margin: 50px 0;
}

.to-map__info {
  max-width: 555px;
}

.to-map h2 {
  padding-bottom: 16px;
}

.to-map__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #000000;
}

.to-map__caption {
  margin-top: 10px;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #262626;
}

/* why_choose */
.why_choose {
  max-width: 1052px;
  margin: 0 auto;
}

.why_choose-item {
  margin: 14px 24px 0 0;
  width: calc(25% - 19px);
  border-radius: 8px;
  background: var(--Blue-light, #effbff);
  padding: 32px 0;
}

#why_choose .why_choose-item p {
  max-width: 170px;
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

#why_choose .why_choose-item p:first-child {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  padding-bottom: 4px;
}

.why_choose-item:last-child {
  margin-right: 0;
}

#custom_html-3 a,
#custom_html-3 a img {
  width: 24px !important;
  height: 24px !important;
}

#custom_html-3 a {
  display: block;
  margin-left: 10px;
}

#custom_html-3 > div > div {
  display: flex;
  align-items: center;
}

.items-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

#footer-widgets {
  padding-top: 0 !important;
}

.footer-widget li:before {
  border-color: #fdb948 !important;
}

#footer-widgets .footer-widget .footer_logo a {
  white-space: nowrap;
}

.footer-widget h4.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 24px;
}

#main-footer #custom_html-3 a,
#main-footer #custom_html-3 a img {
  width: 24px !important;
  height: 24px !important;
}

#main-footer #custom_html-3 a {
  display: block;
  margin-left: 10px;
}

#main-footer #custom_html-3 > div > div {
  display: flex;
  align-items: center;
}

#main-content .text_grey {
  color: var(--Grey-text, #444);
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-top: 4px;
}

#main-content .text_grey a {
  color: var(--Grey-text, #444);
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home_offer_left {
    max-width: 50%;
    padding-right: 20px;
  }

  .home_offer .home_offer_right {
    width: 50%;
  }
}

@media (max-width: 1119px) {
  #main-content .tabs_content .btn_yellow {
    max-width: 100%;
    margin: 0 0 16px;
  }

  #main-content .tabs_content .btn_white {
    max-width: 100%;
  }

  .to-map {
    background-size: 50vw 100%;
  }
}

@media (max-width: 991px) {
  .home_offer .line_dashed {
    display: none;
  }

  #footer-bottom {
    padding-bottom: 65px !important;
  }

  #main-footer #custom_html-3 a:first-child {
    margin-left: 0 !important;
  }

  #footer-widgets {
    padding-bottom: 24px !important;
  }

  #footer-widgets .footer_contact:last-child,
  #footer-widgets .footer-widget:nth-child(n) {
    margin-bottom: 0 !important;
  }

  h1 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 0;
  }

  h1 b {
    font-size: 32px;
    line-height: 40px;
    display: block;
  }

  h2,
  h3 {
    font-size: 30px;
    line-height: 110%;
  }

  h3 {
    font-size: 20px !important;
  }

  #main-content {
    padding: 0;
  }

  #main-content .mortagevsrent h2 + p,
  #main-content li,
  #main-content p,
  #main-content a {
    font-size: 14px;
    line-height: 22px;
  }

  #main-content ul:not(.list, .tabs, .awards__list) {
    padding: 16px 0;
  }

  #main-content section {
    padding: 25px 0;
  }

  .home_offer .home_offer_inner {
    flex-direction: column-reverse;
  }

  .home_offer .home_offer_right,
  .home_offer_left {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .home_offer_left {
    width: fit-content;
    margin: 0 auto;
  }

  .home_offer .home_offer_right {
    margin: 0 -16px 20px;
    width: calc(100% + 32px) !important;
    max-width: calc(100% + 32px) !important;
    border-radius: 0;
    height: 32vw;
  }

  #main-content section.home_offer {
    padding-top: 0;
  }

  .specific {
    padding: 16px;
    max-width: 100%;
  }

  .home_offer_footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .year-experiences,
  .based-reviews {
    flex-direction: column;
    width: 50%;
  }

  .row-Broker:not(.awards__list) {
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px dashed #d8d8d8;
    padding-top: 12px;
    justify-content: center;
    max-width: 735px;
    margin: 20px auto 0;
  }

  .home_offer_footer > div img {
    margin: 8px;
    max-height: 16vw;
  }

  .home_offer_footer {
    padding: 30px 0 0 0;
  }

  .home_count svg {
    display: block;
    margin: 0 auto;
  }

  .home_offer_footer > div.based-reviews img {
    height: 37px;
  }

  #main-content .year-experiences p,
  #main-content .based-reviews p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }

  .item_tooltip {
    left: -32px;
    max-width: 343px;
  }

  .item_tooltip:after {
    left: 46px;
  }

  .item_tooltip:before {
    left: 45px;
  }

  .result-wrapper_icons .item_tooltip,
  .row-Broker:not(.awards__list) .item_tooltip {
    left: 50%;
    max-width: 343px;
    transform: translateX(-50%);
  }

  .result-wrapper_icons
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip,
  .row-Broker:not(.awards__list)
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip {
    left: 0;
    transform: translateX(0);
  }

  .result-wrapper_icons
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip,
  .row-Broker:not(.awards__list)
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip {
    left: auto;
    right: 0;
    transform: none;
  }

  .result-wrapper_icons
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip:after,
  .row-Broker:not(.awards__list)
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip:after {
    left: 50px;
  }

  .result-wrapper_icons
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip:before,
  .row-Broker:not(.awards__list)
    :is(.item_hover:first-child, .item_hover:nth-child(4))
    .item_tooltip:before {
    left: 50px;
  }

  .result-wrapper_icons
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip:after,
  .row-Broker:not(.awards__list)
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip:after {
    left: auto;
    right: 36px;
  }

  .result-wrapper_icons
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip:before,
  .row-Broker:not(.awards__list)
    :is(.item_hover:nth-child(3), .item_hover:last-child)
    .item_tooltip:before {
    left: auto;
    right: 35px;
  }

  .row-Broker:not(.awards__list):not(.awards__list) .item_hover img {
    max-width: 270px !important;
  }

  /* loan-purpose */
  .loan-purpose h2 {
    padding-bottom: 32px;
  }

  #main-content ul.tabs li {
    padding: 0 4px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .tabs_content {
    background-color: transparent;
    padding: 32px 0 0 0;
    flex-wrap: wrap;
  }

  .tabs_content > div {
    padding: 0 !important;
    width: 100%;
    max-width: 539px;
    margin: 0 auto;
  }

  .tabs_content .block {
    padding: 22px 16px;
    margin: 20px auto;
  }

  .tabs_content .list {
    margin: 0 0 24px 0;
  }

  .tabs_content > div:last-child {
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #d8d8d8);
    padding: 22px 16px !important;
  }

  #main-content .btn_yellow {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
  }

  #main-content .tabs_content .btn_yellow {
    margin: 0 0 16px;
  }

  #main-content .tabs_content .btn_white {
    max-width: 100%;
  }

  /* banks */

  #main-content section.banks {
    padding: 25px 16px;
  }

  #main-content .banks .container {
    border-radius: 8px;
    background: #fff5e2;
    padding: 22px 16px !important;
    overflow: hidden;
  }

  .banks h3 {
    text-align: left;
    font-size: 18px !important;
    line-height: 26px;
  }

  .banks_row {
    margin: 28px -11px 0;
    gap: 20px;
  }

  .banks_row img {
    max-height: 35px;
  }

  .banks_row img.icon_macq_logo {
    max-height: 45px;
  }

  /* mortagevsrent */
  .mortagevsrent h2 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 16px;
  }

  .mortagevsrent_calc {
    margin-top: 24px;
    padding: 22px 16px;
  }

  .mortagevsrent_calc h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .calc__btn-wrap {
    margin-top: 16px;
  }

  /* map */
  .to-map {
    padding: 0px !important;
    margin: 25px 0;
    background: none;
  }

  .to-map h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .to-map__info {
    max-width: 800px;
    margin: 0 auto;
  }

  .to-map__info > img {
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #eee);
    object-fit: cover;
    height: 80vw;
    margin-bottom: 10px;
    width: 100%;
  }

  /* why_choose */
  .why_choose h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .why_choose-item {
    width: calc(50% - 4px);
    margin: 14px 8px 0 0;
    padding: 12px 20px;
  }

  .why_choose-item:nth-child(2n + 2) {
    margin-right: 0;
  }

  #why_choose .why_choose-item p:first-child {
    font-size: 32px;
    line-height: 32px;
  }

  .calc__slider-caption {
    left: 8px;
  }
}

@media (min-width: 992px) {
  #footer-widgets {
    padding-top: 34px !important;
  }

  #et-footer-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-content .home_offer .btn_yellow {
    max-width: 363px;
  }

  #main-content .btn_yellow.to-map__button {
    max-width: 320px;
  }

  .why_choose h2 {
    padding-bottom: 64px;
  }

  #et-footer-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row-Broker:not(.awards__list) .item_hover:nth-last-child(2) .item_tooltip,
  .row-Broker:not(.awards__list) .item_hover:last-child .item_tooltip {
    left: auto;
    right: 0;
    transform: none;
  }

  .row-Broker:not(.awards__list)
    .item_hover:nth-last-child(2)
    .item_tooltip:after,
  .row-Broker:not(.awards__list) .item_hover:last-child .item_tooltip:after {
    left: auto;
    right: 41px;
    transform: none;
  }

  .row-Broker:not(.awards__list)
    .item_hover:nth-last-child(2)
    .item_tooltip:before,
  .row-Broker:not(.awards__list) .item_hover:last-child .item_tooltip:before {
    left: auto;
    right: 40px;
    transform: none;
  }

  .row-Broker:not(.awards__list):not(.awards__list) .item_hover img {
    margin-right: 5px !important;
    max-height: 55px !important;
  }

  .calculator-wrapper .input-box .input-wrapper.validation-failed {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 1120px) {
  .flex-llg {
    display: flex !important;
  }
}

.home-offer-features {
  margin-top: 64px;
  gap: 64px;
}

.home-offer-features > div {
  gap: 20px;
}


.loan-purpose__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.purpose-block {
  position: relative;
  flex: 1;
  display: block;
  padding: 44px 32px;
  border-radius: 24px;
  max-width: 600px;
  min-width: 400px;

  border: 1px solid #e8e8e8;
  background: #f4f4f4;
  overflow: hidden;
  cursor: pointer;
}

.purpose-block__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}

.purpose-block__img img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

@media (hover: hover) {
  .purpose-block:hover .purpose-block__img {
    opacity: 1;
  }
}

.purpose-block__badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px;
  border-radius: 0px 24px;
  background: rgba(253, 185, 72, 0.5);
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.21px;
  text-transform: capitalize;
}
.purpose-block__content {
  position: relative;
  max-width: 370px;
  z-index: 2;
}
.purpose-block__title {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.42px;
}

.purpose-block__description {
  margin-top: 16px;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}

.purpose-block__action {
  margin-top: 24px;
}

.purpose-block__action :is(a, button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
  height: 50px;
  padding: 17px 24px;
  border: none;
  border-radius: 33px;
  background: rgba(253, 185, 72, 0.5);
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.35s;
}

.purpose-block__action :is(a, button)::after {
  content: '\276F';
  font-size: 16px;
  color: inherit;
  font-weight: 400;
}

[data-purpose='first'] {
  border-radius: 24px;
  border: 1px solid rgba(255, 164, 13, 0.2);
  background: #ffedcc;
}

.purpose-block__title::before {
  content: '';
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

[data-purpose='first'] .purpose-block__title::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><g clip-path="url(%23a)"><path fill="%23000" d="m22.99 10.514-9.477-7.946c-.832-.698-2.194-.698-3.026 0L1.54 10.07c-.349.293-.882.83-.713 1.254.235.589.981.458 1.615.458h1.3s.231.01.231.218v8.377c0 .872.707 1.579 1.58 1.579h12.896a1.58 1.58 0 0 0 1.58-1.58v-8.392c0-.191.208-.202.208-.202h2.292c.462 0 .972-.782.462-1.268Zm-7 5.561c-.64.972-3.39 3.282-3.986 3.282-.583 0-3.359-2.318-3.993-3.282-.318-.482-.544-1.014-.506-1.713.066-1.238 1.078-2.26 2.318-2.26 1.275 0 2.017 1.36 2.177 1.36.183 0 .957-1.36 2.177-1.36 1.24 0 2.252 1.022 2.318 2.26.038.7-.187 1.23-.506 1.713Z"/></g><defs><clipPath id="a"><path fill="%23fff" d="M.5.5h23v23H.5z"/></clipPath></defs></svg>');
}

[data-purpose='refinance'] .purpose-block__title::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="none"><path fill="%23000" d="M22.422 6.823a.664.664 0 0 0 .168-.704l.021.006a.797.797 0 0 0-.595-.498l-9.01-1.887a.824.824 0 0 0-.74.202.661.661 0 0 0-.178.685l2.612 8.095c.074.25.298.44.575.508a.818.818 0 0 0 .76-.196l1.061-1.035c2.564 2.234 4.354 5.07 5.19 8.191.074.283.334.505.646.556a.873.873 0 0 0 .492-.064.761.761 0 0 0 .303-.254c2.607-3.864 1.813-8.982-1.897-12.168l-.47-.402 1.062-1.035Z"/><g clip-path="url(%23a)"><path fill="%23000" d="M14.532 23.922c-.856-.424-1.766-.747-2.667-1.082-.523-.193-1.023-.42-1.464-.734-.87-.622-.703-1.63.315-2.03.288-.113.59-.15.897-.166a7.49 7.49 0 0 1 3.37.598c.532.23.707.157.888-.34.189-.524.347-1.056.522-1.585.117-.355-.027-.59-.4-.739a9.323 9.323 0 0 0-2.127-.569c-.965-.133-.965-.137-.97-1.005-.004-1.222-.004-1.222-1.373-1.222-.199 0-.397-.004-.595 0-.64.016-.748.117-.766.694-.01.258 0 .516-.005.779-.004.766-.009.754-.829 1.02-1.982.646-3.208 1.857-3.339 3.794-.117 1.715.884 2.873 2.456 3.717.969.52 2.041.827 3.069 1.235.4.157.784.339 1.117.589.987.73.806 1.945-.365 2.405-.626.246-1.289.307-1.97.23-1.049-.117-2.054-.363-3-.803-.554-.258-.716-.19-.906.347-.162.464-.306.932-.45 1.4-.194.63-.122.78.55 1.074.856.371 1.77.56 2.703.694.73.105.752.133.761.811.005.307.005.618.01.924.004.388.211.614.657.622.505.008 1.014.008 1.519-.004.414-.008.626-.21.626-.585 0-.42.023-.844.005-1.264-.023-.427.184-.645.644-.758 1.059-.259 1.96-.767 2.654-1.526 1.928-2.098 1.194-5.17-1.537-6.521Z"/></g><defs><clipPath id="a"><path fill="%23fff" d="M.59 15.046h21.816v19.54H.59z"/></clipPath></defs></svg>');
}

[data-purpose='upgrade'] .purpose-block__title::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><g clip-path="url(%23a)"><path fill="%23000" fill-rule="evenodd" d="M31.085 13.582 18.31 2.872c-1.121-.94-2.956-.94-4.077 0L2.174 12.984c-.471.395-1.19 1.12-.962 1.69.268.672 1.03.649 1.777.626.135-.004.27-.008.4-.008h1.753s.31.014.31.293v11.29c0 1.176.953 2.129 2.129 2.129h3.715v-7.968c0-.133-.147-.139-.147-.139h-.833c-.062 0-.126.002-.19.004-.355.01-.717.022-.845-.298-.108-.27.233-.615.457-.802l5.73-4.805c.533-.447 1.405-.447 1.937 0l6.07 5.089c.326.311 0 .812-.296.812H21.71s-.133.007-.133.13v7.977h3.386a2.128 2.128 0 0 0 2.129-2.129v-11.31c0-.26.28-.273.28-.273h3.09c.622 0 1.31-1.054.622-1.71Z" clip-rule="evenodd"/></g><defs><clipPath id="a"><path fill="%23fff" d="M.5.085h31v31H.5z"/></clipPath></defs></svg>');
}

[data-purpose='buy-luxury'] .purpose-block__title::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" fill="none"><path fill="%23000" d="M27.573 7.85a.987.987 0 0 0-1.094 0l-5.496 3.295a.308.308 0 0 1-.253 0 .36.36 0 0 1-.213-.16l-4.656-8.15a1.041 1.041 0 0 0-1.734 0l-4.655 8.15a.36.36 0 0 1-.214.16.308.308 0 0 1-.253 0L3.509 7.81a.987.987 0 0 0-1.094 0 1.027 1.027 0 0 0-.413 1.014l2.454 12.299a2.348 2.348 0 0 0 2.294 1.88h16.488a2.348 2.348 0 0 0 2.294-1.88l2.455-12.26a1.028 1.028 0 0 0-.414-1.013Z"/><path fill="%23000" d="M14.994 5.155a2.494 2.494 0 1 0 0-4.988 2.494 2.494 0 0 0 0 4.988ZM2.494 9.998a2.494 2.494 0 1 0 0-4.99 2.494 2.494 0 0 0 0 4.99ZM27.506 9.998a2.495 2.495 0 1 0 0-4.99 2.495 2.495 0 0 0 0 4.99Z"/></svg>');
}

.purpose-block:hover .purpose-block__action :is(a, button) {
  background: #fdb948;
}

[data-purpose='first'] .purpose-block__action :is(a, button) {
  border-radius: 33px;
  background: #fdb948;
}

[data-purpose='upgrade'] .purpose-block__img img {
  object-position: 40px 0;
}

[data-purpose='buy-luxury'] .purpose-block__img img {
  object-position: 0 24px;
}

@media (max-width: 768px) {
  .loan-purpose__blocks {
    gap: 24px;
    flex-direction: column;
  }
  .purpose-block {
    width: 100%;
    min-width: auto;
    padding: 24px 16px;
  }
  .purpose-block__img {
    opacity: 1;
    height: 85%;
  }

  .purpose-block__badge {
    padding: 4px 24px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.18px;
  }
  .purpose-block__content {
    max-width: 235px;
  }

  .purpose-block__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.27px;
  }

  .purpose-block__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.21px;
  }

  .purpose-block__action {
    margin-top: 16px;
  }

  .purpose-block__action :is(a, button) {
    height: 40px;
    background: #fdb948;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.21px;
    text-transform: capitalize;
  }

  .purpose-block__title::before {
    width: 24px;
    height: 24px;
  }
}

/* CALC SECTION */

.calc .form-wrapper {
  border-radius: 20px;
  background: var(--Grey-dark, #262626);
  padding: 72px 80px;
  max-width: 1052px;
  margin: 0 auto;
}

.calc .form-wrapper h2 {
  font-size: 32px;
  line-height: 40px;
  color: var(--White, #fff);
  padding-bottom: 24px;
  font-weight: 700;
}

.calc .form-wrapper .form > div {
  width: calc(50% - 27px);
  margin-right: 54px;
  display: flex;
  flex-direction: column;
}

.calc .form-wrapper .input-box {
  padding-top: 24px;
  position: relative;
  content-visibility: visible;
}

.calc .form-wrapper :is(.input-title, .input-description) {
  color: var(--White, #fff);
}

.calc .form-wrapper .input-description {
  font-size: 13px;
}

.calc .form-wrapper .input-box:first-child,
.calc .form-wrapper .input-box:last-child {
  margin-top: auto;
}

.calc .form-wrapper .form > div:nth-child(2n + 2) {
  margin-right: 0;
}

@media (min-width: 992px) {
  .calc .result-wrapper_block {
    margin-right: 0;
  }
}

@media screen and (max-width: 1052px) {
  .calc .form-wrapper {
    padding: 40px 40px;
  }

  .calc .form-wrapper .form > div {
    width: calc(50% - 20px);
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .calc .form-wrapper {
    padding: 32px 20px;
  }

  .calc .form-wrapper .input-box {
    padding: 24px 0 0 0;
    width: 100%;
  }

  .calc .form-wrapper .form > div {
    width: 100%;
    margin: 0;
  }
}
