---
/**
 * Property Map Section - WordPress "to-map" section
 * Rebuilt to match WordPress exactly following WORDPRESS_TO_ASTRO_WORKFLOW.md
 */
import Container from '../atoms/Container/Container.astro';
import Button from '../atoms/Button/Button.astro';
import Typography from '../atoms/Typography/Typography.astro';
import { semantic } from '../../tokens/semantic';
---

<section class="to-map">
  <Container>
    <div class="to-map__info">
      <Typography element="h2" size="3xl" weight="bold" color="primary">
        Looking for property in Brisbane?
      </Typography>
      <Typography element="p" size="lg" color="primary" class="to-map__caption">
        Compare where to live, invest and buy in 2024 on our interactive map
      </Typography>
      <ul>
        <li>Housing prices in the area</li>
        <li>Distance to the nearest public transport</li>
        <li>Overview of schools</li>
        <li>Availability of green zones and cafes/bars</li>
      </ul>
      <img class="d-lg-none" src="/images/to-map.svg" alt="map image">
      <Button 
        href="/suburbs-map/" 
        variant="primary" 
        size="md" 
        class="to-map__button"
        target="_blank"
      >
        Explore map
        <img class="d-lg-none ml-2" src="/images/16_arrow_r_black.svg" alt="arrow image">
      </Button>
    </div>
  </Container>
</section>

<style define:vars={{
  brandPrimary: semantic.color.brand.primary,
  textPrimary: semantic.color.text.primary,
  textSecondary: semantic.color.text.secondary,
  surfaceSecondary: semantic.color.surface.secondary,
  borderPrimary: semantic.color.border.primary,
  surfacePropertyMap: semantic.color.surface.propertyMap, // WordPress PropertyMap background
  fontSizeLg: semantic.typography.size.lg,
  fontSizeXl: semantic.typography.size.xl,
  fontWeightNormal: semantic.typography.weight.body,
  fontWeightEmphasis: semantic.typography.weight.emphasis,
  radiusSm: semantic.radius.sm,
  radiusMd: semantic.radius.md,
  spaceSection: semantic.spacing.section,
  spaceLg: semantic.space.lg,
  spaceMd: semantic.space.md,
  spaceSm: semantic.space.sm,
  spaceXs: semantic.space.xs,
  space3xl: '3rem', // 48px equivalent
  space4xl: '3.125rem', // 50px equivalent
  space1_5xl: '1.5625rem', // 25px equivalent
}}>
/* Property Map Section Styles - Using design tokens */
.to-map {
  background: var(--surfacePropertyMap) url('/images/to-map.svg') right no-repeat;
  background-size: auto 100%;
  border-radius: var(--radiusSm);
  padding: var(--space3xl) !important;
  margin: var(--space4xl) 0;
}

.to-map__info {
  max-width: 555px; /* WordPress specific width - could create token if reused */
}

.to-map h2 {
  padding-bottom: var(--spaceSm);
  color: var(--textPrimary);
}

.to-map__caption {
  margin-top: var(--spaceXs);
  margin-bottom: 31px; /* WordPress specific - could tokenize */
  font-weight: var(--fontWeightNormal);
  font-size: var(--fontSizeLg);
  line-height: 1.5;
  color: var(--textPrimary);
}

.to-map ul {
  text-align: left;
  margin: var(--spaceMd) 0;
  padding: 0;
  list-style: none;
}

.to-map ul li {
  position: relative;
  padding-left: 24px;
  margin-bottom: var(--spaceSm);
  font-weight: 500;
  color: var(--textPrimary);
}

.to-map ul li::before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 0;
  color: var(--brandPrimary);
  font-weight: bold;
}

.to-map__button {
  margin-top: var(--spaceLg);
  max-width: 230px;
}

/* Responsive display classes */
.d-lg-none {
  display: none;
}

.d-lg-block {
  display: block;
}

/* Tablet responsiveness */
@media (max-width: 1280px) {
  .to-map {
    background-size: 50vw 100%;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .to-map {
    padding: 0px !important;
    margin: var(--space1_5xl) 0;
    background: none;
  }

  .to-map h2 {
    font-size: var(--fontSizeXl);
    line-height: 1.33;
  }

  .to-map__info {
    max-width: 800px; /* Mobile specific width */
    margin: 0 auto;
  }

  .to-map__info > img {
    border-radius: var(--radiusSm);
    border: 1px solid var(--borderPrimary);
    object-fit: cover;
    height: 80vw;
    margin-bottom: var(--spaceXs);
    width: 100%;
  }

  .d-lg-none {
    display: block;
  }

  .d-lg-block {
    display: none;
  }
  
  .to-map ul {
    text-align: center;
  }
  
  .to-map ul li {
    text-align: left;
  }
  
  .to-map__button {
    max-width: 320px;
  }
}
</style>