---
import AwardItem from '../../../../components/molecules/AwardItem/AwardItem.astro';
---
<h1>AwardItem</h1>
<AwardItem title="Award" image="/images/awards/Mortgage-Broker-Brisbane-Hunter-Galloway-Award-2024.webp" />
