---
import CalculatorResult from '../../../../components/molecules/CalculatorResult/CalculatorResult.astro';
---
<h1>CalculatorResult</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <CalculatorResult /> -->
