---
import CalculatorResult from '../../../../components/molecules/CalculatorResult/CalculatorResult.astro';
---
<h1>CalculatorResult</h1>
<CalculatorResult label="Borrowing Power" value="$650,000" />
