---
import FooterStatCard from '../../../../components/molecules/FooterStatCard/FooterStatCard.astro';
---
<h1>FooterStatCard</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <FooterStatCard /> -->
