---
import FooterNavigation from '../../../../components/molecules/FooterNavigation/FooterNavigation.astro';
---
<h1>FooterNavigation</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <FooterNavigation /> -->
