---
import HeroWidget from '../../../../components/organisms/HeroWidget/HeroWidget.astro';
---
<h1>HeroWidget</h1>
<HeroWidget titleHtml={'<b>Get a home loan</b>'} benefits={[{ text: 'Benefit' }]} cta={{ text: 'Start', href: '#' }} image={{ desktop: '/images/upgrade.webp', mobile: '/images/upgrade.webp', alt: 'Alt' }} yearsExperience={'14'} reviews={{ text: '2,000+ reviews' }} variant={'general'} mediaPosition={'right'} />
