---
import MortgageRentCalculator from '../../../../components/organisms/MortgageRentCalculator/MortgageRentCalculator.astro';
---
<h1>MortgageRentCalculator</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <MortgageRentCalculator /> -->
