---
import NavDropdown from '../../../../components/molecules/NavDropdown/NavDropdown.astro';
---
<h1>NavDropdown</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <NavDropdown /> -->
