---
import PurposeCard from '../../../../components/molecules/PurposeCard/PurposeCard.astro';
---
<h1>PurposeCard</h1>
<PurposeCard title="Buy My First Home" description="Navigate your first home purchase confidently." image="/images/upgrade.webp" href="#" variant="peach" />
