---
import PurposeCard from '../../../../components/molecules/PurposeCard/PurposeCard.astro';
---
<h1>PurposeCard</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <PurposeCard /> -->
