---
import RiskWidget from '../../../../components/organisms/RiskWidget/RiskWidget.astro';
---
<h1>RiskWidget</h1>
<RiskWidget title="How we reduce your risk" description="..." marketStatistic={{ value: '40%', tooltip: { content: 'Source' } }} riskItems={[{ id: 'plan', title: 'Plan', content: ['...'], icon: 'scheme' }]} />
