---
import SocialLinks from '../../../../components/molecules/SocialLinks/SocialLinks.astro';
---
<h1>SocialLinks</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <SocialLinks /> -->
