---
import Layout from '../../../../layouts/Layout.astro';
import StatCard from '../../../../components/molecules/StatCard/StatCard.astro';
---

<Layout title="StatCard Demo - Design System">
  <h1>StatCard</h1>
  <p>Demo placeholder. Add props and examples as needed.</p>
  <!-- <StatCard /> -->
</Layout>
