---
import Typography from '../../../../components/atoms/Typography/Typography.astro';
---
<h1>Typography</h1>
<Typography element="h1">Heading 1</Typography>
<Typography element="p">Body text</Typography>
