---
import WhyChooseItem from '../../../../components/molecules/WhyChooseItem/WhyChooseItem.astro';
---
<h1>WhyChooseItem</h1>
<p>Demo placeholder. Add props and examples as needed.</p>
<!-- <WhyChooseItem /> -->
