---
import Layout from '../../../layouts/Layout.astro';
import glob from 'fast-glob';

const componentPages = await glob('src/pages/design-system/review/components/*.astro');
const templatePages  = await glob('src/pages/design-system/review/templates/*.astro');

function toRoute(f) { return '/' + f.replace(/^src\/pages\//,'').replace(/\.astro$/,''); }
---

<Layout title="Design System Review - Hunter Galloway">
  <h1>Design System</h1>

  <h2>Components</h2>
  <ul>
    {componentPages.map(f => <li><a href={toRoute(f)}>{toRoute(f)}</a></li>)}
  </ul>

  <h2>Templates</h2>
  <ul>
    {templatePages.map(f => <li><a href={toRoute(f)}>{toRoute(f)}</a></li>)}
  </ul>
</Layout>


