.dp-calculator {
  position: relative;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  margin-right: calc((100% - 100vw) / 2);
  font-family: 'Open Sans';
  padding-inline: 120px;
}

@media (max-width: 991px) {
  .dp-calculator {
    padding-inline: 16px;
  }
}
.dp-calculator__steps {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.dp-calculator__step[data-step='1'] {
  width: 100%;
  padding-block: 82px;
}

@media (max-width: 991px) {
  .dp-calculator__step[data-step='1'] {
    padding-block: 24px;
  }
}

.dp-calculator__step[data-step='2'] {
  width: 100%;
  padding-block: 36px;
}

@media (max-width: 991px) {
  .dp-calculator__steps {
    display: flex;
    justify-content: center;
  }
}

.dp-calculator__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dp-calculator__bg::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

@media (max-width: 992px) {
  .dp-calculator__bg::before {
    background: linear-gradient(
      347deg,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

.dp-calculator__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right 0px top -50px;
}

.dp-calculator__steps:has([data-step='2'][style*='display: block'])
  .dp-calculator__bg
  img {
  object-position: right 0px top 0px;
}

@media (max-width: 1350px) {
  .dp-calculator__bg img {
    object-position: right 0px top -20px;
  }
}
@media (max-width: 1250px) {
  .dp-calculator__bg img {
    object-position: right 0px top 0px;
  }
}

@media (max-width: 560px) {
  .dp-calculator__bg img {
    object-position: left -235px bottom 0px;
  }
}
.dp-entry__form,
.dp-entry__badges {
  width: 100%;
  max-width: 608px;
}

@media (max-width: 992px) {
  .dp-calculator__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dp-calculator__top-note {
  color: #ffb027;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.dp-entry__error {
  margin-top: 6px;
  color: #ff0000;
  font-size: 14px;
  line-height: 24px;
}
.dp-entry__form {
  margin-top: 24px;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid #ece7e7;
  background: #fcfcfc;
  color: #000;
}

@media (max-width: 992px) {
  .dp-entry__form {
    margin-top: 12px;
    padding: 16px;
  }
}
.dp-entry__form h2 {
  color: #000 !important;
  font-size: 28px !important;
  font-weight: 700;
  line-height: 36px !important;
  letter-spacing: -0.42px;
}

@media (max-width: 992px) {
  .dp-entry__form h2 {
    font-size: 24px !important;
    line-height: 32px !important;
    letter-spacing: -0.36px;
  }
}

.dp-entry__form-row {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

@media (max-width: 991px) {
  .dp-entry__form-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dp-entry__form-group {
  flex: 1;
}

@media (max-width: 991px) {
  .dp-entry__form-group {
    width: 100%;
  }
}
.dp-entry__form-row label {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.dp-entry__input-wrap {
  margin-top: 12px;
  position: relative;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  overflow: hidden;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08) inset;
}
.dp-entry__form-row input[type='text'] {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-left: 61px;
}

.dp-entry__input-wrap:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 20px;
  pointer-events: none;
  text-align: center;
  color: var(--Grey-dark, #262626);
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  border-right: 1px solid var(--Gray-300, #d8d8d8);
}

.dp-entry__form-row button {
  width: 203px;
  height: 48px;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .dp-entry__form-row button {
    width: 100%;
    max-width: 371px;
  }
}

@media (min-width: 992px) {
  .dp-entry__badges .top-badges__item {
    width: calc(187px + 12px) !important;
  }

  .dp-entry__badges .top-badges__item:first-child {
    justify-content: center !important;
    width: calc(187px + 24px) !important;
  }
  .dp-entry__badges .top-badges__item:nth-child(2) {
    justify-content: flex-end !important;
  }
  .dp-entry__badges .top-badges__item:nth-child(3) {
    order: -1;
    justify-content: flex-start !important;
  }
  .dp-entry__badges .top-badges__item:nth-child(3)::after {
    left: auto !important;
    right: 0;
  }

  .dp-entry__badges .top-badges__item-content {
    width: 187px;
    max-width: 187px !important;
  }
}

@media (max-width: 992px) {
  .dp-entry__badges .top-badges {
    margin-top: 24px;
  }
  .dp-entry__badges .top-badges__list {
    max-width: 343px;
  }

  .dp-entry__badges .top-badges__item:first-child {
    order: 4;
  }

  .dp-entry__badges .top-badges__item:first-child::after {
    top: auto;
    left: 0;
    transform: translateY(0%);
    width: 1px !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.5);
  }
  .dp-entry__badges .top-badges__item:last-child {
    order: -1;
  }

  .dp-entry__badges .top-badges__item:last-child::after {
    top: auto !important;
    transform: translateY(0%) !important;

    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 1px !important;
  }
}

.dp-form {
  margin-top: 36px;
  display: flex;
  gap: 24px;
  width: 100%;
}

@media (max-width: 992px) {
  .dp-form {
    flex-direction: column;
    gap: 16px;
  }
}
.dp-form__left,
.dp-form__right {
  flex: 1 0 50%;
  max-width: 608px;
}

@media (max-width: 992px) {
  .dp-form__left,
  .dp-form__right {
    width: 100%;
    margin-inline: auto;
  }
}
.dp-form__left-inner {
  padding: 40px 40px 64px;

  border-radius: 24px;
  border: 1px solid #ece7e7;
  background: #fcfcfc;
}

@media (max-width: 1120px) {
  .dp-form__left-inner {
    padding: 24px 20px;
  }
}

@media (max-width: 992px) {
  .dp-form__left-inner {
    padding: 24px 16px;
    padding-bottom: 55px;
  }
}
.dp-form__left-inner .hc_input_row {
  display: flex;
  width: 100%;
}

.dp-form__left-inner .hc_title {
  border: none !important;
}

.dp-result {
  border: none !important;
  padding: 0 !important;
}

.dp-result__title {
  color: #000;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.42px;
}

@media (max-width: 992px) {
  .dp-result__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}

.dp-result .dp-result__outcome {
  margin-top: 24px;
  display: flex;
  width: 100%;
  border-radius: 16px;
  border: 1px dashed #fcd28a;
  background: rgba(255, 164, 13, 0.1);
}

@media (max-width: 992px) {
  .dp-result .dp-result__outcome {
    margin-left: -16px;
    width: calc(100% + 32px);
    border-radius: 0;
    border-inline: none;
  }
}

.dp-result .dp-result__outcome > div {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 22px;
}

@media (max-width: 992px) {
  .dp-result .dp-result__outcome > div {
    padding: 16px;
  }
}
.dp-result .dp-result__outcome > div:first-child {
  border-right: 1px dashed #fcd28a;
}
.dp-result .dp-result__outcome > div .dp-result__value {
  margin-top: auto;
}
.dp-result .dp-result__row {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

@media (max-width: 992px) {
  .dp-result .dp-result__row {
    flex-direction: column;
  }
}
.dp-result .dp-result__input-wrap {
  flex-direction: column;
}

.dp-result .dp-result__input-wrap .hc_input_field {
  margin-top: 12px;
}
.dp-result .dp-result__input-wrap .hc_input_field input {
  max-width: 100%;
  height: 48px;
  border-radius: 12px !important;
  padding: 6px 14px;
  padding-left: 60px;
  border: 1px solid #d8d8d8 !important;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08) inset;

  font-size: 16px;
  line-height: normal;
  caret-color: #ffbe0c;
  color: #444;
  transition: color 0.15s ease-in-out;
}
.dp-result .dp-result__input-wrap--deposit {
  width: 100%;
}

.dp-result .dp-result__label {
  color: #262626 !important;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.dp-result .dp-result__label span {
  color: #545454 !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dp-result__input-wrap--deposit .dp-result__label {
  color: #000 !important;
}

.dp-result .dp-result__value {
  margin: 0;
  color: #ec9b16 !important;
  font-family: 'Open Sans' !important;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.dp-result [data-value-length='xl'] .dp-result__value {
  font-size: 18px;
}
.dp-result [data-value-length='xxl'] .dp-result__value {
  font-size: 16px;
}

@media (max-width: 992px) {
  .dp-result .dp-result__value {
    font-size: 30px;
  }

  .dp-result [data-value-length='l'] .dp-result__value {
    font-size: 20px;
  }
  .dp-result [data-value-length='xl'] .dp-result__value {
    font-size: 16px;
  }
  .dp-result [data-value-length='xxl'] .dp-result__value {
    font-size: 14px;
  }
}

.dp-result .dp-result__tooltip {
  top: calc(100% + 15px) !important;
}
.dp-form__left-inner :is(.hc_result_cell, .hc_result_section) {
  width: 100% !important;
}
.dp-form__right-inner {
  position: relative;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgba(255, 164, 13, 0.2);
  background: #ffedcc;
}

@media (max-width: 1120px) {
  .dp-form__right-inner {
    padding: 24px 20px;
  }
}

@media (max-width: 992px) {
  .dp-form__right-inner {
    padding: 24px 16px;
    scroll-margin-top: 75px;
  }
}

.dp-form__arrow {
  position: absolute;
  top: 85px;
  left: -50px;
  object-fit: contain;
}

@media (max-width: 992px) {
  .dp-form__arrow {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    rotate: 52deg;
    width: 60px;
    height: 60px;
  }
}

.dp-form__title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.42px;
}

.dp-form__title b {
  font-weight: 700;
}

.dp-form__title span {
  padding-inline: 6px;
  border-radius: 4px;
  background: rgba(255, 165, 16, 0.4);
  font-weight: 700;
}

@media (max-width: 992px) {
  .dp-form__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}
.dp-form__form-wrap {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.dp-form__form-wrap .gf-assessment {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 992px) {
  .dp-form__form-wrap .gf-assessment {
    padding: 24px 16px;
  }
  .dp-form__form-wrap .gf-assessment__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.36px;
  }
}

.dp-form__form-wrap .gf-assessment__title {
  text-align: left;
}

.dp-form__form-wrap .gf-assessment__description {
  margin-top: 12px;
}

@media (max-width: 992px) {
  .dp-form__form-wrap .gf-assessment__description {
    margin-top: 6px;
  }
}
.dp-calculator__awards {
  margin-top: 72px;
}

@media (max-width: 992px) {
  .dp-calculator__awards {
    width: 100%;
    margin-top: 24px;
    overflow-x: hidden;
    overflow-x: clip;
  }
}

.dp-form__badges {
  max-width: 608px;
}

@media (max-width: 992px) {
  .dp-form__badges {
    margin-top: 16px;
    max-width: 343px;
    margin-inline: auto;
  }
}
.dp-form__badges .top-badges__item {
  width: calc(186px + 12px) !important;
}

.dp-form__badges .top-badges__item:nth-child(2) {
  justify-content: center !important;
  width: calc(187px + 24px) !important;
}

.dp-form__badges .top-badges__item-content {
  width: 186px;
  max-width: 186px !important;
}

@media (max-width: 1440px) and (min-width: 1241px) {
  .dp-form__badges .top-badges__item {
    width: calc(150px + 12px) !important;
  }

  .dp-form__badges .top-badges__item:nth-child(2) {
    justify-content: center !important;
    width: calc(150px + 24px) !important;
  }

  .dp-form__badges .top-badges__item-content {
    width: 150px;
    max-width: 150px !important;
  }
}

@media (max-width: 1240px) and (min-width: 992px) {
  .dp-form__badges .top-badges__item {
    width: calc(130px + 6px) !important;
  }

  .dp-form__badges .top-badges__item:nth-child(2) {
    justify-content: center !important;
    width: calc(130px + 12px) !important;
  }

  .dp-form__badges .top-badges__item-content {
    width: 130px;
    max-width: 130px !important;
  }
}

.dp-form__info {
  margin-top: 24px;
}

.dp-form__info div {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.24px;
}

.dp-form__info ul {
  counter-reset: pd-calculator;

  position: relative;
  display: grid;
  gap: 12px;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  z-index: 2;
}

.dp-form__info ul::after {
  position: absolute;
  top: 0;
  left: 13px;
  content: '';
  display: block;
  width: 2px;
  height: 82%;
  background: #ec9b16;
  z-index: -1;
}

@media (max-width: 992px) {
  .dp-form__info ul::after {
    left: 15px;
  }
}
.dp-form__info li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.dp-form__info li::before {
  flex-shrink: 0;
  counter-increment: pd-calculator;
  content: counter(pd-calculator);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid #ffedcc;
  border-radius: 50%;
  background: #ec9b16;
}

@media (max-width: 992px) {
  .dp-form__info li::before {
    width: 20px;
    height: 20px;
    border: 6px solid #ffedcc;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
  }
}

#hc_down_slider_result {
  display: none;
}

.noUi-horizontal .noUi-tooltip {
  top: 190%;
  bottom: auto;
  position: relative;
  max-height: 30px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 5.5px 8px;
  width: max-content;
  color: #262626;

  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

/*
  Використовуємо два псевдоелементи:
  ::before створює більший трикутник, який служить як бордер для стрілки
  ::after створює менший трикутник, який накладається зверху і відповідає фону тултіпа
*/
.noUi-horizontal .noUi-tooltip::before,
.noUi-horizontal .noUi-tooltip::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
}

.noUi-horizontal .noUi-tooltip::before {
  top: -6px;
  border-width: 0 6px 6px;
  border-color: transparent transparent #eee transparent; /* #333 - колір бордера */
}

.noUi-tooltip::after {
  /* Менший трикутник, який створює наповнення тултіпа */
  top: -5px; /* трохи нижче ::before для створення ефекту бордера */
  border-width: 0 5px 6px;
  border-color: transparent transparent #fff transparent; /* #fff - колір фону тултіпа */
}
