.lp-rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.google-rating,
.mortgage-rating {
  display: flex;
  gap: 22px;
  font-family: 'Open Sans', sans-serif;
}

.google-rating__icon,
.mortgage-rating__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.google-rating__content,
.mortgage-rating__content {
  flex: 1 1 auto;
  display: grid;
  gap: 7px;
}

.google-rating__title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.google-rating__stars-container {
  display: flex;
  gap: 6px;
}

.google-rating__rating {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.google-rating__stars {
  width: 120px;
  height: 20px;
  background-image: url('data:image/svg+xml,<svg width="121" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M18.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5A1 1 0 0 0 .8 8l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1L9.5 15l4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23b)"><path d="M43.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23c)"><path d="M68.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23d)"><path d="M93.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><g clip-path="url(%23e)"><path d="M118.5 7a1 1 0 0 0-.9-.7l-5.2-.5-2-4.8a1 1 0 0 0-1.8 0l-2 4.8-5.2.5a1 1 0 0 0-.6 1.7l4 3.4-1.2 5.1a1 1 0 0 0 1.4 1l4.5-2.6 4.5 2.6a1 1 0 0 0 1.4-1l-1.2-5 4-3.5c.3-.3.4-.7.3-1Z" fill="%23FFA40D"/></g><defs><clipPath id="a"><path fill="%23fff" transform="translate(.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="b"><path fill="%23fff" transform="translate(25.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="c"><path fill="%23fff" transform="translate(50.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="d"><path fill="%23fff" transform="translate(75.5)" d="M0 0h20v20H0z"/></clipPath><clipPath id="e"><path fill="%23fff" transform="translate(100.5)" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}

.google-rating__reviews {
  color: #6f7283;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.mortgage-rating__rated {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.mortgage-rating__title {
  color: #77b255;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.mortgage-rating__reviews {
  color: #6f7283;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
